@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  font-weight: 400;
  font-style: normal;
  font-family: "宋体";
  text-size-adjust: 100%;
}

.clear {
  clear: both;
}

ul,
li {
  list-style: none;
}

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
}

input,
button {
  outline: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #666;
}

html,
body {
  width: 100%;
  height: auto;
}

.course_bigbox {
  display: none;
}

.course_smallbox {
  width: 16rem;
  margin: auto;
}

.course_smallbox header .logo {
  float: left;
  width: 6rem;
  height: auto;
  margin: 1rem 0 0 0.75rem;
}

.course_smallbox header .click {
  width: 0.9rem;
  float: right;
  margin-top: 1.85rem;
  margin-right: 0.75rem;
}

.course_smallbox nav {
  overflow: hidden;
  margin-top: 0.5rem;
  height: 0;
  width: 100%;
  transition: all .5s;
}

.course_smallbox nav .hide {
  height: 7.75rem;
  margin: 0 0.35rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.course_smallbox nav .hide li {
  width: 100%;
  height: 1.5rem;
  border-bottom: 0.05rem solid #eee;
}

.course_smallbox nav .hide li:last-child {
  border-bottom: none;
}

.course_smallbox nav .hide li a {
  height: 1.5rem;
  display: block;
  border-radius: 0.25rem;
  color: #A51C30;
  line-height: 1.5rem;
  text-indent: 2em;
  font-size: 0.5rem;
  font-weight: 500;
}

.course_smallbox .hide li.cur a {
  background: #A51C30;
  color: white;
}

.course_smallbox .banner {
  width: 100%;
}

.course_smallbox .map {
  width: 16rem;
  background: #fbfbfb;
}

.course_smallbox .map img {
  width: 13rem;
  padding: 1rem 0;
  display: block;
  margin: 0 auto;
}

.course_smallbox .new_ad {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.course_smallbox .new_ad .lo_title {
  width: 8rem;
  padding: 1rem 0;
  display: block;
  margin: 0 auto;
}

.course_smallbox .new_ad img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.course_smallbox .new_ad .newad_box {
  width: 100%;
  height: auto;
}

.course_smallbox .new_ad .newad_box .left {
  margin: auto;
  width: 16rem;
  height: 7.5rem;
  background: #A51C30;
  position: relative;
}

.course_smallbox .new_ad .newad_box .left img {
  position: absolute;
  top: 1rem;
  left: 1.25rem;
  width: 40px;
}

.course_smallbox .new_ad .newad_box .left h1 {
  position: absolute;
  top: 1.25rem;
  left: 3.5rem;
  font-size: 0.7rem;
  color: white;
}

.course_smallbox .new_ad .newad_box .left .ad_text {
  position: absolute;
  top: 3rem;
  left: 1rem;
}

.course_smallbox .new_ad .newad_box .left .ad_text p {
  display: block;
  margin: 0 auto;
  width: 15rem;
  font-size: 0.5rem;
  font-weight: 300;
  line-height: 1rem;
  color: white;
}

.course_smallbox .new_ad .newad_box .right {
  margin: auto;
  width: 16.5rem;
  height: 7.75rem;
  position: relative;
}

.course_smallbox .new_ad .newad_box .right img {
  position: absolute;
  top: 1rem;
  left: 1.25rem;
  width: 43px;
}

.course_smallbox .new_ad .newad_box .right h1 {
  position: absolute;
  top: 1.4rem;
  left: 3.6rem;
  font-size: 0.7rem;
}

.course_smallbox .new_ad .newad_box .right span {
  position: absolute;
  top: 1.6rem;
  left: 8.25rem;
  font-size: 0.5rem;
}

.course_smallbox .new_ad .newad_box .right .ad_text {
  position: absolute;
  top: 3rem;
  left: 1rem;
  margin-bottom: 2rem;
}

.course_smallbox .new_ad .newad_box .right .ad_text p {
  display: block;
  margin: 0 auto;
  width: 15rem;
  font-size: 0.5rem;
  font-weight: 300;
  line-height: 1rem;
}

.course_smallbox .five_small {
  width: 100%;
  height: 10rem;
  background: #F8F8F8;
}

.course_smallbox .five_small h3 {
  font-family: "PingFang SC";
  font-size: 0.9rem;
  padding: 1.5rem 0 0.25rem 0;
  color: #A51C30;
  text-align: center;
}

.course_smallbox .five_small p {
  font-size: 0.4rem;
  color: #A51C30;
  text-align: center;
}

.course_smallbox .five_small .five_center {
  width: 15rem;
  margin-top: 1.5rem;
  margin: 0 auto;
  display: flex;
}

.course_smallbox .five_small .five_center li {
  margin-top: 1rem;
  float: left;
  flex: 1;
}

.course_smallbox .five_small .five_center li img {
  width: 2.5rem;
  display: block;
  text-align: center;
  padding-left: 0.25rem;
  padding-bottom: 0.25rem;
}

.course_smallbox .five_small .five_center li span {
  font-size: 0.5rem;
  padding-left: 0.35rem;
  font-weight: 300;
  color: black;
}

.course_smallbox .five_reason {
  width: 14rem;
  margin: 0 auto;
}

.course_smallbox .five_reason .one_reason {
  width: 100%;
  width: 14rem;
  margin: 0 auto;
}

.course_smallbox .five_reason .one_reason h1 {
  font-family: "PingFang SC";
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem 0 0.5rem 0;
  color: #A51C30;
}

.course_smallbox .five_reason .one_reason .one img {
  display: block;
  width: 100%;
  margin: 0 auto;
  float: left;
  padding-bottom: 1rem;
}

.course_smallbox .five_reason .one_reason .one .one_right {
  float: right;
  width: 14rem;
}

.course_smallbox .five_reason .one_reason .one .one_right h3 {
  font-family: "PingFang SC";
  font-size: 0.7rem;
  padding: 0 0 0.5rem 0;
  color: #A51C30;
}

.course_smallbox .five_reason .one_reason .one .one_right p {
  width: 14rem;
  display: block;
  text-align: justify;
  font-size: 0.5rem;
  font-weight: 300;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

.course_smallbox .five_reason .one_reason .one .one_right span {
  width: 4.5rem;
  height: 1.5rem;
  background: #A51C30;
  display: block;
  border-radius: 0.25rem;
  position: relative;
}

.course_smallbox .five_reason .one_reason .one .one_right span img {
  width: 0.8rem;
  float: left;
  display: inline-block;
  margin-left: 0.6rem;
  margin-right: 0.25rem;
  margin-top: 0.35rem;
}

.course_smallbox .five_reason .one_reason .one .one_right span p {
  position: absolute;
  top: 0.25rem;
  left: 1.9rem;
  float: left;
  font-size: 0.5rem;
  font-weight: 500;
  color: white;
}

.course_smallbox .five_reason .two_reason {
  width: 100%;
  width: 14rem;
  margin: 0 auto;
}

.course_smallbox .five_reason .two_reason h1 {
  font-family: "PingFang SC";
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem 0 0.5rem 0;
  color: #A51C30;
}

.course_smallbox .five_reason .two_reason .two img {
  display: block;
  width: 100%;
  margin: 0 auto;
  float: left;
  padding-bottom: 1rem;
}

.course_smallbox .five_reason .two_reason .two .one_right {
  float: right;
  width: 14rem;
}

.course_smallbox .five_reason .two_reason .two .one_right h3 {
  font-family: "PingFang SC";
  font-size: 0.7rem;
  padding: 0 0 0.5rem 0;
  color: #A51C30;
}

.course_smallbox .five_reason .two_reason .two .one_right p {
  width: 14rem;
  display: block;
  text-align: justify;
  font-size: 0.5rem;
  font-weight: 300;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

.course_smallbox .five_reason .two_reason .two .one_right span {
  width: 4.5rem;
  height: 1.5rem;
  background: #A51C30;
  display: block;
  border-radius: 0.25rem;
  position: relative;
}

.course_smallbox .five_reason .two_reason .two .one_right span img {
  width: 0.8rem;
  float: left;
  display: inline-block;
  margin-left: 0.6rem;
  margin-right: 0.25rem;
  margin-top: 0.35rem;
}

.course_smallbox .five_reason .two_reason .two .one_right span p {
  position: absolute;
  top: 0.25rem;
  left: 1.9rem;
  float: left;
  font-size: 0.5rem;
  font-weight: 500;
  color: white;
}

.course_smallbox .five_reason .three_reason {
  width: 100%;
  width: 14rem;
  margin: 0 auto;
}

.course_smallbox .five_reason .three_reason h1 {
  font-family: "PingFang SC";
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem 0 0.5rem 0;
  color: #A51C30;
}

.course_smallbox .five_reason .three_reason .three img {
  display: block;
  width: 100%;
  margin: 0 auto;
  float: left;
  padding-bottom: 1rem;
}

.course_smallbox .five_reason .three_reason .three .one_right {
  float: right;
  width: 14rem;
}

.course_smallbox .five_reason .three_reason .three .one_right h3 {
  font-family: "PingFang SC";
  font-size: 0.7rem;
  padding: 0 0 0.5rem 0;
  color: #A51C30;
}

.course_smallbox .five_reason .three_reason .three .one_right p {
  width: 14rem;
  display: block;
  text-align: justify;
  font-size: 0.5rem;
  font-weight: 300;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

.course_smallbox .five_reason .three_reason .three .one_right span {
  width: 4.5rem;
  height: 1.5rem;
  background: #A51C30;
  display: block;
  border-radius: 0.25rem;
  position: relative;
}

.course_smallbox .five_reason .three_reason .three .one_right span img {
  width: 0.8rem;
  float: left;
  display: inline-block;
  margin-left: 0.6rem;
  margin-right: 0.25rem;
  margin-top: 0.35rem;
}

.course_smallbox .five_reason .three_reason .three .one_right span p {
  position: absolute;
  top: 0.25rem;
  left: 1.9rem;
  float: left;
  font-size: 0.5rem;
  font-weight: 500;
  color: white;
}

.course_smallbox .five_reason .four_reason {
  width: 100%;
  width: 14rem;
  margin: 0 auto;
}

.course_smallbox .five_reason .four_reason h1 {
  font-family: "PingFang SC";
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem 0 0.5rem 0;
  color: #A51C30;
}

.course_smallbox .five_reason .four_reason .four img {
  display: block;
  width: 100%;
  margin: 0 auto;
  float: left;
  padding-bottom: 1rem;
}

.course_smallbox .five_reason .four_reason .four .one_right {
  float: right;
  width: 14rem;
}

.course_smallbox .five_reason .four_reason .four .one_right h3 {
  font-family: "PingFang SC";
  font-size: 0.7rem;
  padding: 0 0 0.5rem 0;
  color: #A51C30;
}

.course_smallbox .five_reason .four_reason .four .one_right p {
  width: 14rem;
  display: block;
  text-align: justify;
  font-size: 0.5rem;
  font-weight: 300;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

.course_smallbox .five_reason .four_reason .four .one_right span {
  width: 4.5rem;
  height: 1.5rem;
  background: #A51C30;
  display: block;
  border-radius: 0.25rem;
  position: relative;
}

.course_smallbox .five_reason .four_reason .four .one_right span img {
  width: 0.8rem;
  float: left;
  display: inline-block;
  margin-left: 0.6rem;
  margin-right: 0.25rem;
  margin-top: 0.35rem;
}

.course_smallbox .five_reason .four_reason .four .one_right span p {
  position: absolute;
  top: 0.25rem;
  left: 1.9rem;
  float: left;
  font-size: 0.5rem;
  font-weight: 500;
  color: white;
}

.course_smallbox .five_reason .five_reason {
  width: 100%;
  width: 14rem;
  margin: 0 auto;
}

.course_smallbox .five_reason .five_reason h1 {
  font-family: "PingFang SC";
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem 0 0.5rem 0;
  color: #A51C30;
}

.course_smallbox .five_reason .five_reason .five img {
  display: block;
  width: 100%;
  margin: 0 auto;
  float: left;
  padding-bottom: 1rem;
}

.course_smallbox .five_reason .five_reason .five .one_right {
  float: right;
  width: 14rem;
}

.course_smallbox .five_reason .five_reason .five .one_right h3 {
  font-family: "PingFang SC";
  font-size: 0.7rem;
  padding: 0 0 0.5rem 0;
  color: #A51C30;
}

.course_smallbox .five_reason .five_reason .five .one_right p {
  width: 14rem;
  display: block;
  text-align: justify;
  font-size: 0.5rem;
  font-weight: 300;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}

.course_smallbox .five_reason .five_reason .five .one_right span {
  width: 4.5rem;
  height: 1.5rem;
  background: #A51C30;
  display: block;
  border-radius: 0.25rem;
  position: relative;
}

.course_smallbox .five_reason .five_reason .five .one_right span img {
  width: 0.8rem;
  float: left;
  display: inline-block;
  margin-left: 0.6rem;
  margin-right: 0.25rem;
  margin-top: 0.35rem;
}

.course_smallbox .five_reason .five_reason .five .one_right span p {
  position: absolute;
  top: 0.25rem;
  left: 1.9rem;
  float: left;
  font-size: 0.5rem;
  font-weight: 500;
  color: white;
}

.course_smallbox .curriculum {
  margin-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  background: #fbfbfb;
}

.course_smallbox .curriculum h3 {
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem 0 0.05rem 0;
  color: #A51C30;
}

.course_smallbox .curriculum p {
  margin: 0 auto;
  text-align: center;
  font-size: 0.5rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.course_smallbox .curriculum h5 {
  margin: 0 auto;
  display: block;
  width: 13rem;
  text-align: center;
  font-size: 0.4rem;
  font-weight: 300;
  line-height: 0.7rem;
}

.course_smallbox .section {
  width: 14rem;
  margin: 0 auto;
}

.course_smallbox .section h3 {
  text-align: center;
  font-size: 0.7rem;
  padding: 1rem 0 0.5rem 0;
  color: #A51C30;
}

.course_smallbox .section img {
  width: 14rem;
  display: block;
  margin: 0 auto;
}

.course_smallbox .section_one {
  width: 14rem;
  margin: 0 auto;
}

.course_smallbox .section_one h3 {
  text-align: center;
  font-size: 0.7rem;
  padding: 1rem 0 0.5rem 0;
  color: #A51C30;
}

.course_smallbox .section_one img {
  width: 14rem;
  display: block;
  margin: 0 auto;
}

.course_smallbox .title_one {
  width: 14rem;
  margin: 0 auto;
}

.course_smallbox .title_one img {
  width: 14rem;
  display: block;
  margin: 1.25rem auto;
}

.course_smallbox .footer {
  width: 100%;
  height: 4rem;
  background: #A51C30;
}

.course_smallbox .footer .footer_logo {
  padding-top: 0.7rem;
}

.course_smallbox .footer .footer_logo img {
  display: block;
  width: 10rem;
  margin: 0 auto;
}

.course_smallbox .footer_bottom {
  width: 100%;
  height: 1.5rem;
  padding-top: 0.5rem;
}

.course_smallbox .footer_bottom img {
  width: 9rem;
  display: block;
  margin: 0 auto;
}
