@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-size: .14rem;
    font-weight: 400;
    font-style: normal;
    font-family: "宋体";
    text-size-adjust: 100%;
}

.clear {
    clear: both;
}

ul,
li {
    list-style: none;
}

img,
div,
body,
html,
ul,
li,
a {
    -webkit-touch-callout: none;
}

input,
button {
    outline: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #666;
}

$sc:20;
html,
body {
    width: 100%;
    height: auto;
}

.course_bigbox {
    display: none;
}

.course_smallbox {
    width: 320/$sc+rem;
    margin: auto;
    header .logo {
        float: left;
        width: 120/$sc+rem;
        height: auto;
        margin: 20/$sc+rem 0 0 15/$sc+rem;
    }
    header .click {
        width: 18/$sc+rem;
        float: right;
        margin-top: 37/$sc+rem;
        margin-right: 15/$sc+rem;
    }
    nav {
        overflow: hidden;
        margin-top: 10/$sc+rem;
        height: 0;
        width: 100%;
        transition: all .5s;
        .hide {
            height: 155/$sc+rem;
            margin: 0 7/$sc+rem;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            li {
                width: 100%;
                height: 30/$sc+rem;
                border-bottom: 1/$sc+rem solid #eee;
                &:last-child {
                    border-bottom: none;
                }
                a {
                    height: 30/$sc+rem;
                    display: block;
                    border-radius: 5/$sc+rem;
                    color: #A51C30;
                    line-height: 30/$sc+rem;
                    text-indent: 2em;
                    font-size: 10/$sc+rem;
                    font-weight: 500;
                }
            }
        }
    }
    .hide li.cur a {
        background: #A51C30;
        color: white;
    }
    .banner {
        width: 100%;
    }
    .map {
        width: 320/$sc+rem;
        background: #fbfbfb;
        img {
            width: 260/$sc+rem;
            padding: 20/$sc+rem 0;
            display: block;
            margin: 0 auto;
        }
    }
    .new_ad {
        width: 100%;
        display: block;
        margin: 0 auto;
        .lo_title {
            width: 160/$sc+rem;
            padding: 20/$sc+rem 0;
            display: block;
            margin: 0 auto;
        }
        img {
            width: 100%;
            display: block;
            margin: 0 auto;
        }
        .newad_box {
            width: 100%;
            height: auto;
            .left {
                margin: auto;
                width: 320/$sc+rem;
                height: 150/$sc+rem;
                background: #A51C30;
                position: relative;
                img {
                    position: absolute;
                    top: 20/$sc+rem;
                    left: 25/$sc+rem;
                    width: 40px;
                }
                h1 {
                    position: absolute;
                    top: 25/$sc+rem;
                    left: 70/$sc+rem;
                    font-size: 14/$sc+rem;
                    color: white;
                }
                .ad_text {
                    position: absolute;
                    top: 60/$sc+rem;
                    left: 20/$sc+rem;
                    p {
                        display: block;
                        margin: 0 auto;
                        width: 300/$sc+rem;
                        font-size: 10/$sc+rem;
                        font-weight: 300;
                        line-height: 20/$sc+rem;
                        color: white;
                    }
                }
            }
            .right {
                margin: auto;
                width: 330/$sc+rem;
                height: 155/$sc+rem;
                position: relative;
                img {
                    position: absolute;
                    top: 20/$sc+rem;
                    left: 25/$sc+rem;
                    width: 43px;
                }
                h1 {
                    position: absolute;
                    top: 28/$sc+rem;
                    left: 72/$sc+rem;
                    font-size: 14/$sc+rem;
                }
                span {
                    position: absolute;
                    top: 32/$sc+rem;
                    left: 165/$sc+rem;
                    font-size: 10/$sc+rem;
                }
                .ad_text {
                    position: absolute;
                    top: 60/$sc+rem;
                    left: 20/$sc+rem;
                    margin-bottom: 40/$sc+rem;
                    p {
                        display: block;
                        margin: 0 auto;
                        width: 300/$sc+rem;
                        font-size: 10/$sc+rem;
                        font-weight: 300;
                        line-height: 20/$sc+rem;
                    }
                }
            }
        }
    }
    .five_small {
        width: 100%;
        height: 200/$sc+rem;
        background: #F8F8F8;
        h3 {
            font-family: "PingFang SC";
            font-size: 18/$sc+rem;
            padding: 30/$sc+rem 0 5/$sc+rem 0;
            color: #A51C30;
            text-align: center;
        }
        p {
            font-size: 8/$sc+rem;
            color: #A51C30;
            text-align: center;
        }
        .five_center {
            width: 300/$sc+rem;
            margin-top: 30/$sc+rem;
            margin: 0 auto;
            display: flex;
            li {
                margin-top: 20/$sc+rem;
                float: left;
                flex: 1;
                img {
                    width: 50/$sc+rem;
                    display: block;
                    text-align: center;
                    padding-left: 5/$sc+rem;
                    padding-bottom: 5/$sc+rem;
                }
                span {
                    font-size: 10/$sc+rem;
                    padding-left: 7/$sc+rem;
                    font-weight: 300;
                    color: black;
                }
            }
        }
    }
    .five_reason {
        width: 280/$sc+rem;
        margin: 0 auto;
        .one_reason {
            width: 100%;
            width: 280/$sc+rem;
            margin: 0 auto;
            h1 {
                font-family: "PingFang SC";
                font-size: 16/$sc+rem;
                font-weight: bold;
                padding: 20/$sc+rem 0 10/$sc+rem 0;
                color: #A51C30;
            }
            .one {
                img {
                    display: block;
                    width: 100%;
                    margin: 0 auto;
                    float: left;
                    padding-bottom: 20/$sc+rem;
                }
                .one_right {
                    float: right;
                    width: 280/$sc+rem;
                    h3 {
                        font-family: "PingFang SC";
                        font-size: 14/$sc+rem;
                        padding: 0 0 10/$sc+rem 0;
                        color: #A51C30;
                    }
                    p {
                        width: 280/$sc+rem;
                        display: block;
                        text-align: justify;
                        font-size: 10/$sc+rem;
                        font-weight: 300;
                        line-height: 20/$sc+rem;
                        margin-bottom: 10/$sc+rem;
                    }
                    span {
                        width: 90/$sc+rem;
                        height: 30/$sc+rem;
                        background: #A51C30;
                        display: block;
                        border-radius: 5/$sc+rem;
                        position: relative;
                        img {
                            width: 16/$sc+rem;
                            float: left;
                            display: inline-block;
                            margin-left: 12/$sc+rem;
                            margin-right: 5/$sc+rem;
                            margin-top: 7/$sc+rem;
                        }
                        p {
                            position: absolute;
                            top: 5/$sc+rem;
                            left: 38/$sc+rem;
                            float: left;
                            font-size: 10/$sc+rem;
                            font-weight: 500;
                            color: white;
                        }
                    }
                }
            }
        }
        .two_reason {
            width: 100%;
            width: 280/$sc+rem;
            margin: 0 auto;
            h1 {
                font-family: "PingFang SC";
                font-size: 16/$sc+rem;
                font-weight: bold;
                padding: 20/$sc+rem 0 10/$sc+rem 0;
                color: #A51C30;
            }
            .two {
                img {
                    display: block;
                    width: 100%;
                    margin: 0 auto;
                    float: left;
                    padding-bottom: 20/$sc+rem;
                }
                .one_right {
                    float: right;
                    width: 280/$sc+rem;
                    h3 {
                        font-family: "PingFang SC";
                        font-size: 14/$sc+rem;
                        padding: 0 0 10/$sc+rem 0;
                        color: #A51C30;
                    }
                    p {
                        width: 280/$sc+rem;
                        display: block;
                        text-align: justify;
                        font-size: 10/$sc+rem;
                        font-weight: 300;
                        line-height: 20/$sc+rem;
                        margin-bottom: 10/$sc+rem;
                    }
                    span {
                        width: 90/$sc+rem;
                        height: 30/$sc+rem;
                        background: #A51C30;
                        display: block;
                        border-radius: 5/$sc+rem;
                        position: relative;
                        img {
                            width: 16/$sc+rem;
                            float: left;
                            display: inline-block;
                            margin-left: 12/$sc+rem;
                            margin-right: 5/$sc+rem;
                            margin-top: 7/$sc+rem;
                        }
                        p {
                            position: absolute;
                            top: 5/$sc+rem;
                            left: 38/$sc+rem;
                            float: left;
                            font-size: 10/$sc+rem;
                            font-weight: 500;
                            color: white;
                        }
                    }
                }
            }
        }
        .three_reason {
            width: 100%;
            width: 280/$sc+rem;
            margin: 0 auto;
            h1 {
                font-family: "PingFang SC";
                font-size: 16/$sc+rem;
                font-weight: bold;
                padding: 20/$sc+rem 0 10/$sc+rem 0;
                color: #A51C30;
            }
            .three {
                img {
                    display: block;
                    width: 100%;
                    margin: 0 auto;
                    float: left;
                    padding-bottom: 20/$sc+rem;
                }
                .one_right {
                    float: right;
                    width: 280/$sc+rem;
                    h3 {
                        font-family: "PingFang SC";
                        font-size: 14/$sc+rem;
                        padding: 0 0 10/$sc+rem 0;
                        color: #A51C30;
                    }
                    p {
                        width: 280/$sc+rem;
                        display: block;
                        text-align: justify;
                        font-size: 10/$sc+rem;
                        font-weight: 300;
                        line-height: 20/$sc+rem;
                        margin-bottom: 10/$sc+rem;
                    }
                    span {
                        width: 90/$sc+rem;
                        height: 30/$sc+rem;
                        background: #A51C30;
                        display: block;
                        border-radius: 5/$sc+rem;
                        position: relative;
                        img {
                            width: 16/$sc+rem;
                            float: left;
                            display: inline-block;
                            margin-left: 12/$sc+rem;
                            margin-right: 5/$sc+rem;
                            margin-top: 7/$sc+rem;
                        }
                        p {
                            position: absolute;
                            top: 5/$sc+rem;
                            left: 38/$sc+rem;
                            float: left;
                            font-size: 10/$sc+rem;
                            font-weight: 500;
                            color: white;
                        }
                    }
                }
            }
        }
        .four_reason {
            width: 100%;
            width: 280/$sc+rem;
            margin: 0 auto;
            h1 {
                font-family: "PingFang SC";
                font-size: 16/$sc+rem;
                font-weight: bold;
                padding: 20/$sc+rem 0 10/$sc+rem 0;
                color: #A51C30;
            }
            .four {
                img {
                    display: block;
                    width: 100%;
                    margin: 0 auto;
                    float: left;
                    padding-bottom: 20/$sc+rem;
                }
                .one_right {
                    float: right;
                    width: 280/$sc+rem;
                    h3 {
                        font-family: "PingFang SC";
                        font-size: 14/$sc+rem;
                        padding: 0 0 10/$sc+rem 0;
                        color: #A51C30;
                    }
                    p {
                        width: 280/$sc+rem;
                        display: block;
                        text-align: justify;
                        font-size: 10/$sc+rem;
                        font-weight: 300;
                        line-height: 20/$sc+rem;
                        margin-bottom: 10/$sc+rem;
                    }
                    span {
                        width: 90/$sc+rem;
                        height: 30/$sc+rem;
                        background: #A51C30;
                        display: block;
                        border-radius: 5/$sc+rem;
                        position: relative;
                        img {
                            width: 16/$sc+rem;
                            float: left;
                            display: inline-block;
                            margin-left: 12/$sc+rem;
                            margin-right: 5/$sc+rem;
                            margin-top: 7/$sc+rem;
                        }
                        p {
                            position: absolute;
                            top: 5/$sc+rem;
                            left: 38/$sc+rem;
                            float: left;
                            font-size: 10/$sc+rem;
                            font-weight: 500;
                            color: white;
                        }
                    }
                }
            }
        }
        .five_reason {
            width: 100%;
            width: 280/$sc+rem;
            margin: 0 auto;
            h1 {
                font-family: "PingFang SC";
                font-size: 16/$sc+rem;
                font-weight: bold;
                padding: 20/$sc+rem 0 10/$sc+rem 0;
                color: #A51C30;
            }
            .five {
                img {
                    display: block;
                    width: 100%;
                    margin: 0 auto;
                    float: left;
                    padding-bottom: 20/$sc+rem;
                }
                .one_right {
                    float: right;
                    width: 280/$sc+rem;
                    h3 {
                        font-family: "PingFang SC";
                        font-size: 14/$sc+rem;
                        padding: 0 0 10/$sc+rem 0;
                        color: #A51C30;
                    }
                    p {
                        width: 280/$sc+rem;
                        display: block;
                        text-align: justify;
                        font-size: 10/$sc+rem;
                        font-weight: 300;
                        line-height: 20/$sc+rem;
                        margin-bottom: 10/$sc+rem;
                    }
                    span {
                        width: 90/$sc+rem;
                        height: 30/$sc+rem;
                        background: #A51C30;
                        display: block;
                        border-radius: 5/$sc+rem;
                        position: relative;
                        img {
                            width: 16/$sc+rem;
                            float: left;
                            display: inline-block;
                            margin-left: 12/$sc+rem;
                            margin-right: 5/$sc+rem;
                            margin-top: 7/$sc+rem;
                        }
                        p {
                            position: absolute;
                            top: 5/$sc+rem;
                            left: 38/$sc+rem;
                            float: left;
                            font-size: 10/$sc+rem;
                            font-weight: 500;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    .curriculum {
        margin-top: 20/$sc+rem;
        padding-bottom: 20/$sc+rem;
        width: 100%;
        background: #fbfbfb;
        h3 {
            text-align: center;
            font-size: 18/$sc+rem;
            padding: 20/$sc+rem 0 1/$sc+rem 0;
            color: #A51C30;
        }
        p {
            margin: 0 auto;
            text-align: center;
            font-size: 10/$sc+rem;
            font-weight: 300;
            margin-bottom: 10/$sc+rem;
        }
        h5 {
            margin: 0 auto;
            display: block;
            width: 260/$sc+rem;
            text-align: center;
            font-size: 8/$sc+rem;
            font-weight: 300;
            line-height: 14/$sc+rem;
        }
    }
    .section {
        width: 280/$sc+rem;
        margin: 0 auto;
        h3 {
            text-align: center;
            font-size: 14/$sc+rem;
            padding: 20/$sc+rem 0 10/$sc+rem 0;
            color: #A51C30;
        }
        img {
            width: 280/$sc+rem;
            display: block;
            margin: 0 auto;
        }
    }
    .section_one {
        width: 280/$sc+rem;
        margin: 0 auto;
        h3 {
            text-align: center;
            font-size: 14/$sc+rem;
            padding: 20/$sc+rem 0 10/$sc+rem 0;
            color: #A51C30;
        }
        img {
            width: 280/$sc+rem;
            display: block;
            margin: 0 auto;
        }
    }
    .title_one {
        width: 280/$sc+rem;
        margin: 0 auto;
        img {
            width: 280/$sc+rem;
            display: block;
            margin: 25/$sc+rem auto;
        }
    }
    .footer {
        width: 100%;
        height: 80/$sc+rem;
        background: #A51C30;
        .footer_logo {
            padding-top: 14/$sc+rem;
            img {
                display: block;
                width: 200/$sc+rem;
                margin: 0 auto;
            }
        }
    }
    .footer_bottom {
        width: 100%;
        height: 30/$sc+rem;
        padding-top: 10/$sc+rem;
        img {
            width: 180/$sc+rem;
            display: block;
            margin: 0 auto;
        }
    }
}