@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  font-weight: 400;
  font-style: normal;
  font-family: "宋体";
  text-size-adjust: 100%;
}

.clear {
  clear: both;
}

ul,
li {
  list-style: none;
}

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
}

input,
button {
  outline: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #666;
}

html,
body {
  width: 100%;
  height: auto;
}

.course_bigbox {
  display: none;
}

.course_smallbox {
  width: 100%;
}

.course_smallbox header .logo {
  float: left;
  width: 2.5rem;
  height: auto;
  margin: 0.5rem 0 0.5rem 0.5rem;
}

.course_smallbox header .click {
  width: 1.25rem;
  float: right;
  margin-top: 1.75rem;
  margin-right: 0.5rem;
}

.course_smallbox nav {
  overflow: hidden;
  height: 0;
  width: 100%;
  transition: all .5s;
}

.course_smallbox nav .hide {
  height: 10rem;
  margin: 0.05rem 0.5rem 0 0.5rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.course_smallbox nav ul li {
  width: 100%;
  height: 2rem;
  border-bottom: 0.05rem solid #eee;
}

.course_smallbox nav ul li:last-child {
  border-bottom: none;
}

.course_smallbox nav ul li a {
  height: 2rem;
  display: block;
  border-radius: 0.25rem;
  color: #A51C30;
  line-height: 2rem;
  text-indent: 2em;
  font-size: 0.7rem;
  font-weight: 500;
}

.course_smallbox nav ul li.cur a {
  background: #A51C30;
  color: white;
}

.course_smallbox nav ul li a:hover {
  background: #eee;
}

.course_smallbox .banner {
  width: 100%;
}

.course_smallbox .map {
  width: 320px;
  background: #fbfbfb;
}

.course_smallbox .map img {
  width: 280px;
  padding: 20px 0;
  display: block;
  margin: 0 auto;
}

.course_smallbox .new_ad {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.course_smallbox .new_ad .lo_title {
  width: 160px;
  padding: 20px 0;
  display: block;
  margin: 0 auto;
}

.course_smallbox .new_ad img {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.course_smallbox .new_ad .newad_box {
  width: 100%;
  height: auto;
}

.course_smallbox .new_ad .newad_box .left {
  position: relative;
}

.course_smallbox .new_ad .newad_box .left h1 {
  position: absolute;
  top: 30px;
  left: 80px;
  font-size: 18px;
  color: white;
}

.course_smallbox .new_ad .newad_box .left .ad_text {
  position: absolute;
  top: 75px;
  left: 20px;
}

.course_smallbox .new_ad .newad_box .left .ad_text p {
  display: block;
  margin: 0 auto;
  width: 290px;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: white;
}

.course_smallbox .new_ad .newad_box .right {
  position: relative;
}

.course_smallbox .new_ad .newad_box .right h1 {
  position: absolute;
  top: 30px;
  left: 80px;
  font-size: 18px;
}

.course_smallbox .new_ad .newad_box .right span {
  position: absolute;
  top: 35px;
  left: 200px;
  font-size: 12px;
}

.course_smallbox .new_ad .newad_box .right .ad_text {
  position: absolute;
  top: 75px;
  left: 20px;
}

.course_smallbox .new_ad .newad_box .right .ad_text p {
  font-weight: 300;
  display: block;
  margin: 0 auto;
  width: 290px;
  font-size: 12px;
  line-height: 24px;
}

.course_smallbox .five_small {
  width: 100%;
  height: 200px;
  background: #F8F8F8;
}

.course_smallbox .five_small h3 {
  font-family: "PingFang SC";
  font-size: 18px;
  padding: 30px 0 5px 0;
  color: #A51C30;
  text-align: center;
}

.course_smallbox .five_small p {
  font-size: 8px;
  color: #A51C30;
  text-align: center;
}

.course_smallbox .five_small .five_center {
  width: 300px;
  margin-top: 30px;
  margin: 0 auto;
  display: flex;
}

.course_smallbox .five_small .five_center li {
  margin-top: 20px;
  float: left;
  flex: 1;
}

.course_smallbox .five_small .five_center li img {
  width: 50px;
  display: block;
  text-align: center;
  padding-left: 5px;
  padding-bottom: 5px;
}

.course_smallbox .five_small .five_center li span {
  font-size: 10px;
  padding-left: 7px;
  font-weight: 300;
  color: black;
}

.course_smallbox .five_reason {
  width: 280px;
  margin: 0 auto;
}

.course_smallbox .five_reason .one_reason {
  width: 100%;
  width: 280px;
  margin: 0 auto;
}

.course_smallbox .five_reason .one_reason h1 {
  font-family: "PingFang SC";
  font-size: 20px;
  padding: 30px 0 10px 0;
  color: #A51C30;
}

.course_smallbox .five_reason .one_reason .one img {
  display: block;
  width: 100%;
  margin: 0 auto;
  float: left;
  padding-bottom: 30px;
}

.course_smallbox .five_reason .one_reason .one .one_right {
  float: right;
  width: 280px;
}

.course_smallbox .five_reason .one_reason .one .one_right h3 {
  font-family: "PingFang SC";
  font-size: 14px;
  padding: 0 0 10px 0;
  color: #A51C30;
}

.course_smallbox .five_reason .one_reason .one .one_right p {
  width: 280px;
  display: block;
  text-align: justify;
  font-size: 10px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 20px;
}

.course_smallbox .five_reason .one_reason .one .one_right span {
  width: 100px;
  height: 35px;
  background: #A51C30;
  display: block;
  border-radius: 5px;
  position: relative;
}

.course_smallbox .five_reason .one_reason .one .one_right span img {
  width: 20px;
  float: left;
  display: inline-block;
  margin-left: 8px;
  margin-right: 5px;
  margin-top: 7px;
}

.course_smallbox .five_reason .one_reason .one .one_right span p {
  position: absolute;
  top: 5px;
  left: 40px;
  float: left;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.course_smallbox .five_reason .box_two {
  width: 100%;
}

.course_smallbox .five_reason .box_two .two_reason {
  width: 100%;
  width: 280px;
  margin: 0 auto;
}

.course_smallbox .five_reason .box_two .two_reason h1 {
  font-family: "PingFang SC";
  font-size: 20px;
  padding: 30px 0 10px 0;
  color: #A51C30;
}

.course_smallbox .five_reason .box_two .two_reason .two img {
  display: block;
  width: 100%;
  margin: 0 auto;
  float: left;
  padding-bottom: 30px;
}

.course_smallbox .five_reason .box_two .two_reason .two .one_right {
  float: right;
  width: 280px;
}

.course_smallbox .five_reason .box_two .two_reason .two .one_right h3 {
  font-family: "PingFang SC";
  font-size: 14px;
  padding: 0 0 10px 0;
  color: #A51C30;
}

.course_smallbox .five_reason .box_two .two_reason .two .one_right p {
  width: 280px;
  display: block;
  text-align: justify;
  font-size: 10px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 20px;
}

.course_smallbox .five_reason .box_two .two_reason .two .one_right span {
  width: 100px;
  height: 35px;
  background: #A51C30;
  display: block;
  border-radius: 5px;
  position: relative;
}

.course_smallbox .five_reason .box_two .two_reason .two .one_right span img {
  width: 20px;
  float: left;
  display: inline-block;
  margin-left: 8px;
  margin-right: 5px;
  margin-top: 7px;
}

.course_smallbox .five_reason .box_two .two_reason .two .one_right span p {
  position: absolute;
  top: 5px;
  left: 40px;
  float: left;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.course_smallbox .five_reason .three_reason {
  width: 100%;
  width: 280px;
  margin: 0 auto;
}

.course_smallbox .five_reason .three_reason h1 {
  font-size: 20px;
  padding: 30px 0 10px 0;
  color: #A51C30;
}

.course_smallbox .five_reason .three_reason .three img {
  display: block;
  width: 100%;
  margin: 0 auto;
  float: left;
  padding-bottom: 30px;
}

.course_smallbox .five_reason .three_reason .three .one_right {
  float: right;
  width: 280px;
}

.course_smallbox .five_reason .three_reason .three .one_right h3 {
  font-family: "PingFang SC";
  font-size: 14px;
  padding: 0 0 10px 0;
  color: #A51C30;
}

.course_smallbox .five_reason .three_reason .three .one_right p {
  width: 280px;
  display: block;
  text-align: justify;
  font-size: 10px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 20px;
}

.course_smallbox .five_reason .three_reason .three .one_right span {
  width: 100px;
  height: 35px;
  background: #A51C30;
  display: block;
  border-radius: 5px;
  position: relative;
}

.course_smallbox .five_reason .three_reason .three .one_right span img {
  width: 20px;
  float: left;
  display: inline-block;
  margin-left: 8px;
  margin-right: 5px;
  margin-top: 7px;
}

.course_smallbox .five_reason .three_reason .three .one_right span p {
  position: absolute;
  top: 5px;
  left: 40px;
  float: left;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.course_smallbox .five_reason .box_four {
  width: 100%;
}

.course_smallbox .five_reason .box_four .four_reason {
  width: 100%;
  width: 280px;
  margin: 0 auto;
}

.course_smallbox .five_reason .box_four .four_reason h1 {
  font-size: 20px;
  padding: 30px 0 10px 0;
  color: #A51C30;
}

.course_smallbox .five_reason .box_four .four_reason .four img {
  display: block;
  width: 100%;
  margin: 0 auto;
  float: left;
  padding-bottom: 30px;
}

.course_smallbox .five_reason .box_four .four_reason .four .one_right {
  float: right;
  width: 280px;
}

.course_smallbox .five_reason .box_four .four_reason .four .one_right h3 {
  font-family: "PingFang SC";
  font-size: 14px;
  padding: 0 0 10px 0;
  color: #A51C30;
}

.course_smallbox .five_reason .box_four .four_reason .four .one_right p {
  width: 280px;
  display: block;
  text-align: justify;
  font-size: 10px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 20px;
}

.course_smallbox .five_reason .box_four .four_reason .four .one_right span {
  width: 100px;
  height: 35px;
  background: #A51C30;
  display: block;
  border-radius: 5px;
  position: relative;
}

.course_smallbox .five_reason .box_four .four_reason .four .one_right span img {
  width: 20px;
  float: left;
  display: inline-block;
  margin-left: 8px;
  margin-right: 5px;
  margin-top: 7px;
}

.course_smallbox .five_reason .box_four .four_reason .four .one_right span p {
  position: absolute;
  top: 5px;
  left: 40px;
  float: left;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.course_smallbox .five_reason .five_reason {
  width: 100%;
  width: 280px;
  margin: 0 auto;
}

.course_smallbox .five_reason .five_reason h1 {
  font-size: 20px;
  padding: 30px 0 10px 0;
  color: #A51C30;
}

.course_smallbox .five_reason .five_reason .five img {
  display: block;
  width: 100%;
  margin: 0 auto;
  float: left;
  padding-bottom: 30px;
}

.course_smallbox .five_reason .five_reason .five .one_right {
  float: right;
  width: 280px;
}

.course_smallbox .five_reason .five_reason .five .one_right h3 {
  font-family: "PingFang SC";
  font-size: 14px;
  padding: 0 0 10px 0;
  color: #A51C30;
}

.course_smallbox .five_reason .five_reason .five .one_right p {
  width: 280px;
  display: block;
  text-align: justify;
  font-size: 10px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 20px;
}

.course_smallbox .five_reason .five_reason .five .one_right span {
  width: 100px;
  height: 35px;
  background: #A51C30;
  display: block;
  border-radius: 5px;
  position: relative;
}

.course_smallbox .five_reason .five_reason .five .one_right span img {
  width: 20px;
  float: left;
  display: inline-block;
  margin-left: 8px;
  margin-right: 5px;
  margin-top: 7px;
}

.course_smallbox .five_reason .five_reason .five .one_right span p {
  position: absolute;
  top: 5px;
  left: 40px;
  float: left;
  font-size: 12px;
  font-weight: 500;
  color: white;
}

.course_smallbox .curriculum {
  margin-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  background: #fbfbfb;
}

.course_smallbox .curriculum h3 {
  text-align: center;
  font-size: 18px;
  padding: 20px 0 5px 0;
  color: #A51C30;
}

.course_smallbox .curriculum p {
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 20px;
}

.course_smallbox .curriculum h5 {
  margin: 0 auto;
  display: block;
  width: 280px;
  text-align: center;
  font-size: 10px;
  margin-bottom: 5px;
  font-weight: 300;
  line-height: 18px;
}

.course_smallbox .section {
  width: 280px;
  margin: 0 auto;
}

.course_smallbox .section h3 {
  text-align: center;
  font-size: 14px;
  padding: 20px 0 10px 0;
  color: #A51C30;
}

.course_smallbox .section img {
  width: 280px;
  display: block;
  margin: 0 auto;
}

.course_smallbox .section_one {
  width: 280px;
  margin: 0 auto;
}

.course_smallbox .section_one h3 {
  text-align: center;
  font-size: 14px;
  padding: 20px 0 10px 0;
  color: #A51C30;
}

.course_smallbox .section_one img {
  width: 280px;
  display: block;
  margin: 0 auto;
}

.course_smallbox .title_one {
  width: 280px;
  margin: 0 auto;
}

.course_smallbox .title_one img {
  width: 280px;
  display: block;
  margin: 25px auto;
}

.course_smallbox .footer {
  margin-top: 2.5rem;
  width: 100%;
  height: 6.5rem;
  background: #A51C30;
}

.course_smallbox .footer .footer_logo {
  padding-top: 1rem;
}

.course_smallbox .footer .footer_logo img {
  display: block;
  width: 15rem;
  margin: 0 auto;
}

.course_smallbox .footer_bottom {
  width: 100%;
  height: 2.5rem;
  padding-top: 1rem;
}

.course_smallbox .footer_bottom img {
  width: 11.5rem;
  display: block;
  margin: 0 auto;
}
