@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  font-weight: 400;
  font-style: normal;
  font-family: "宋体";
  text-size-adjust: 100%;
}

.clear {
  clear: both;
}

ul,
li {
  list-style: none;
}

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
}

input,
button {
  outline: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #666;
}

html,
body {
  width: 100%;
  height: auto;
}

.samll_box {
  display: none;
}

.bigbox {
  width: 100%;
  height: auto;
}

.bigbox .bar_one {
  width: 100%;
  height: 50px;
  background: #f8f8f8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
}

.bigbox .bar_two {
  width: 100%;
  height: 65px;
  background: #A51C30;
  position: absolute;
  top: 170px;
  left: 0;
  z-index: -5;
}

.bigbox .wapper {
  width: 1200px;
  height: auto;
  margin: auto;
}

.bigbox .wapper .header_top {
  background: #f8f8f8;
  width: 100%;
  height: 50px;
  margin: auto;
}

.bigbox .wapper .header_top .top_center {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  margin: auto;
}

.bigbox .wapper .header_top .top_center p {
  font-size: 16px;
  line-height: 50px;
  color: #a51c30;
}

.bigbox .wapper header {
  width: 1200px;
  height: 120px;
  margin: auto;
}

.bigbox .wapper header a:nth-child(1) {
  margin-top: 12px;
  float: left;
}

.bigbox .wapper header a:nth-child(1) .left {
  width: 98px;
  height: auto;
}

.bigbox .wapper header a:nth-child(2) {
  margin-top: 30px;
  float: right;
}

.bigbox .wapper header a:nth-child(2) .right {
  width: 265px;
  height: auto;
  margin-top: 30px;
}

.bigbox .wapper nav {
  width: 1200px;
  height: 65px;
  background: #A51C30;
  display: flex;
}

.bigbox .wapper nav .list {
  width: 100%;
  height: 65px;
  margin: 0 auto;
}

.bigbox .wapper nav .list li {
  width: 240px;
  display: inline-block;
  line-height: 65px;
  float: left;
  justify-content: center;
  align-items: center;
}

.bigbox .wapper nav .list li:hover p {
  color: #dab96b;
}

.bigbox .wapper nav .list li:nth-child(1) p {
  color: #dab96b;
}

.bigbox .wapper nav .list li img {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.bigbox .wapper nav .list li a {
  display: inline-block;
}

.bigbox .wapper nav .list li a p {
  line-height: 65px;
  padding: 0 64px;
  color: white;
  margin: auto;
  font-size: 20px;
}

.bigbox .banner {
  width: 100%;
  height: auto;
}

.bigbox .ad {
  width: 1200px;
  height: 330px;
  margin: auto;
  margin-top: -10px;
}

.bigbox .ad .ad_left {
  width: 50%;
  height: 330px;
  float: left;
  background: #A51C30;
}

.bigbox .ad .ad_left .sammll_left {
  width: 90px;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 30px;
}

.bigbox .ad .ad_left .sammll_left img {
  width: 84px;
  height: auto;
}

.bigbox .ad .ad_left p {
  color: white;
  font-size: 18px;
  line-height: 38px;
  text-align: center;
}

.bigbox .ad .ad_right {
  width: 50%;
  height: 330px;
  float: right;
}

.bigbox .ad .ad_right .small_right {
  width: 90px;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 30px;
}

.bigbox .ad .ad_right .small_right img {
  width: 85px;
  height: auto;
}

.bigbox .ad .ad_right p {
  color: #A51C30;
  font-size: 18px;
  line-height: 38px;
  text-align: center;
}

.bigbox .com_title {
  width: 1200px;
  height: 820px;
  margin: auto;
  z-index: 1;
  text-align: center;
  padding-bottom: 100px;
}

.bigbox .com_title h3 {
  font-family: "PingFang SC";
  font-size: 36px;
  font-weight: 800;
  padding: 90px 0 20px 0;
}

.bigbox .com_title img {
  padding-bottom: 20px;
}

.bigbox .com_title p {
  font-size: 18px;
}

.bigbox .com_title .com_articale {
  box-shadow: 5px 5px 5px #ebebeb;
  margin-top: 50px;
  width: 100%;
  height: 490px;
  background: #f8f8f8;
}

.bigbox .com_title .com_articale .articale_left {
  width: 37%;
  padding: 60px 0px 0 60px;
}

.bigbox .com_title .com_articale .articale_left img {
  display: inline-block;
  float: left;
}

.bigbox .com_title .com_articale .articale_right {
  width: 63%;
  text-align: left;
  float: right;
  padding: 0px 60px 10px 0;
}

.bigbox .com_title .com_articale .articale_right p {
  text-indent: 2em;
  font-size: 16px;
  color: #666666;
  font-weight: 300;
  text-align: left;
  margin-bottom: 10px;
  line-height: 28px;
  text-align: justify;
}

.bigbox .com_title .com_articale .articale_right span a {
  float: right;
  width: 170px;
  height: 50px;
  background: #A51C30;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 50px;
  margin-top: 8px;
}

.bigbox .team_box {
  width: 100%;
  background: #f8f8f8;
}

.bigbox .team_box .team {
  margin: 0 auto;
  margin-top: 170px;
  width: 1200px;
  height: 960px;
  text-align: center;
}

.bigbox .team_box .team h3 {
  font-family: "PingFang SC";
  font-size: 36px;
  font-weight: 800;
  padding: 70px 0 20px 0;
}

.bigbox .team_box .team img {
  padding-bottom: 20px;
}

.bigbox .team_box .team p {
  font-size: 18px;
}

.bigbox .team_box .team .img_list {
  display: inline-block;
  text-align: center;
  margin-top: 65px;
}

.bigbox .team_box .team .img_list li {
  float: left;
}

.bigbox .team_box .team .img_list li:nth-child(2) {
  margin-left: 50px;
}

.bigbox .team_box .team .img_list li img {
  width: 100%;
}

.bigbox .team_box .team .img_list li .csr {
  margin-top: 15px;
  text-align: center;
  display: block;
}

.bigbox .team_box .team .img_list li .csr p {
  font-size: 18px;
  font-weight: 600;
  float: left;
}

.bigbox .team_box .team .img_list li .csr p.import {
  font-size: 18px;
  font-weight: 600;
  color: #a51c30;
  float: left;
}

.bigbox .team_box .team .img_list li span a {
  text-align: left;
  display: block;
  width: 170px;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  background: white;
  color: #A51C30;
  margin-top: 40px;
  border-radius: 5px;
  line-height: 50px;
  padding-left: 40px;
  -webkit-box-shadow: 2px 2px 1px #A51C30;
  -moz-box-shadow: 2px 2px 1px #A51C30;
}

.bigbox .Chinese {
  width: 1200px;
  text-align: center;
  height: auto;
  margin: 0 auto;
}

.bigbox .Chinese h3 {
  font-family: "PingFang SC";
  font-size: 36px;
  font-weight: 800;
  padding: 90px 0 20px 0;
}

.bigbox .Chinese img {
  padding-bottom: 20px;
}

.bigbox .Chinese p {
  font-size: 18px;
}

.bigbox .Chinese .chinese_list {
  margin-top: 40px;
}

.bigbox .Chinese .chinese_list li {
  margin-bottom: 60px;
  float: left;
}

.bigbox .Chinese .chinese_list li:nth-child(2) {
  float: right;
}

.bigbox .Chinese .chinese_list li:nth-child(4) {
  float: right;
}

.bigbox .Chinese .chinese_list li img {
  width: 570px;
  height: auto;
}

.bigbox .Chinese .chinese_list li h4 {
  text-align: left;
  font-family: "PingFang SC";
  font-size: 24px;
  font-weight: 400;
  padding: 20px 0 10px 0;
  color: #A51C30;
}

.bigbox .Chinese .chinese_list li .conten_ads {
  text-align: left;
}

.bigbox .Chinese .chinese_list li .conten_ads p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #333333;
}

.bigbox .Chinese .chinese_list li span a {
  float: left;
  width: 170px;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  background: #A51C30;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
  line-height: 50px;
}

.bigbox .campe {
  margin-top: 50px;
  width: 100%;
  background: url(../img/zb_bk.png);
  text-align: center;
  margin: 0 auto;
}

.bigbox .campe h3 {
  font-size: 36px;
  font-weight: 800;
  padding: 40px 0 20px 0;
}

.bigbox .campe img {
  padding-bottom: 20px;
}

.bigbox .campe .map {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 1200px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.bigbox .campe p {
  font-size: 18px;
}

.bigbox .footer {
  width: 100%;
  height: 200px;
  background: #A51C30;
}

.bigbox .footer .footer_box {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding-top: 35px;
}

.bigbox .footer .footer_box .footer_logo {
  margin-top: 7px;
  float: left;
}

.bigbox .footer .footer_box .footer_tel {
  margin-top: 35px;
  float: right;
}

.bigbox .footer_bottom {
  width: 370px;
  height: 40px;
  margin: auto;
  margin-top: 16px;
}

.bigbox .footer_bottom p {
  font-size: 24px;
  color: #1d1d1d;
  float: left;
}

.bigbox .footer_bottom img {
  margin-top: 5px;
  float: right;
}
