@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  font-weight: 400;
  font-style: normal;
  font-family: "宋体";
  text-size-adjust: 100%;
}

.clear {
  clear: both;
}

ul,
li {
  list-style: none;
}

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
}

input,
button {
  outline: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #666;
}

html,
body {
  width: 100%;
  height: auto;
}

.bigbox {
  display: none;
}

.samll_box {
  width: 320px;
  margin: auto;
}

.samll_box header .logo {
  float: left;
  width: 6rem;
  height: auto;
  margin: 1rem 0 0 0.75rem;
}

.samll_box header .click {
  width: 0.9rem;
  float: right;
  margin-top: 1.85rem;
  margin-right: 0.75rem;
}

.samll_box nav {
  overflow: hidden;
  margin-top: 10px;
  height: 0;
  width: 100%;
  transition: all .5s;
}

.samll_box nav .hide {
  height: 7.75rem;
  margin: 0 0.35rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.samll_box nav .hide li {
  width: 100%;
  height: 1.5rem;
  border-bottom: 0.05rem solid #eee;
}

.samll_box nav .hide li:last-child {
  border-bottom: none;
}

.samll_box nav .hide li a {
  height: 1.5rem;
  display: block;
  border-radius: 0.25rem;
  color: #A51C30;
  line-height: 1.5rem;
  text-indent: 2em;
  font-size: 0.5rem;
  font-weight: 500;
}

.samll_box .hide li.cur a {
  background: #A51C30;
  color: white;
}

.samll_box .banner {
  width: 100%;
}

.samll_box .ad {
  margin-top: -0.5rem;
  width: 100%;
  height: 6rem;
}

.samll_box .ad .ad_left {
  width: 50%;
  height: 6rem;
  float: left;
  background: #A51C30;
}

.samll_box .ad .ad_left .sammll_left {
  width: 2rem;
  height: auto;
  margin: 0 auto;
  margin-top: 1.1rem;
  margin-bottom: 0.5rem;
}

.samll_box .ad .ad_left .sammll_left img {
  width: 1.35rem;
  height: auto;
  display: block;
  margin: auto;
}

.samll_box .ad .ad_left p {
  color: white;
  font-size: 0.35rem;
  line-height: 0.8rem;
  text-align: center;
}

.samll_box .ad .ad_right {
  width: 50%;
  height: 6rem;
  float: right;
}

.samll_box .ad .ad_right .small_right {
  width: 2rem;
  height: auto;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.samll_box .ad .ad_right .small_right img {
  display: block;
  margin: auto;
  width: 1.4rem;
  height: auto;
}

.samll_box .ad .ad_right p {
  color: #A51C30;
  font-size: 0.35rem;
  line-height: 0.8rem;
  text-align: center;
}

.samll_box .com_title {
  width: 100%;
  margin: auto;
  z-index: 1;
  text-align: center;
}

.samll_box .com_title h3 {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 1.5rem 0 0.25rem 0;
}

.samll_box .com_title img {
  display: block;
  width: 6rem;
  margin: 0 auto;
  padding-bottom: 0.25rem;
}

.samll_box .com_title h4 {
  display: block;
  width: 14rem;
  margin: 0 auto;
  font-size: 0.5rem;
  text-align: center;
  font-weight: 300;
}

.samll_box .com_title .com_articale {
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  width: 100%;
  background: #f8f8f8;
}

.samll_box .com_title .com_articale .articale_left {
  padding: 0.5rem;
  padding-bottom: 1rem;
}

.samll_box .com_title .com_articale .articale_left img {
  width: 10rem;
  display: block;
  margin: auto;
}

.samll_box .com_title .com_articale .articale_right {
  width: 14rem;
  margin: auto;
}

.samll_box .com_title .com_articale .articale_right p {
  text-indent: 2em;
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
  line-height: 0.9rem;
  text-align: justify;
}

.samll_box .com_title .com_articale .articale_right span a {
  float: right;
  width: 4.5rem;
  height: 1.2rem;
  background: #A51C30;
  border-radius: 0.25rem;
  text-align: center;
  color: white;
  font-size: 0.5rem;
  font-weight: bold;
  line-height: 1.2rem;
}

.samll_box .team {
  margin-top: 1.5rem;
  width: 100%;
  text-align: center;
}

.samll_box .team h3 {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 1.5rem 0 0.25rem 0;
}

.samll_box .team img {
  display: block;
  width: 6rem;
  margin: 0 auto;
  padding-bottom: 0.25rem;
}

.samll_box .team h4 {
  display: block;
  width: 14rem;
  margin: 0 auto;
  font-size: 0.5rem;
  text-align: center;
  font-weight: 300;
}

.samll_box .team .img_list {
  display: inline-block;
  text-align: center;
  margin-top: 0.5rem;
}

.samll_box .team .img_list li img {
  width: 100%;
}

.samll_box .team .img_list li:nth-child(2) {
  margin-top: 0.75rem;
}

.samll_box .team .img_list li .csr {
  margin-top: 0.25rem;
}

.samll_box .team .img_list li .csr p {
  font-size: 0.6rem;
  float: left;
  margin-left: 1rem;
}

.samll_box .team .img_list li .csr span.import {
  font-size: 0.6rem;
  color: #a51c30;
  float: left;
}

.samll_box .Chinese {
  text-align: center;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  width: 100%;
}

.samll_box .Chinese h3 {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 1.5rem 0 0.25rem 0;
}

.samll_box .Chinese img {
  display: block;
  width: 9rem;
  margin: 0 auto;
  padding-bottom: 0.25rem;
}

.samll_box .Chinese h5 {
  display: block;
  width: 14rem;
  margin: 0 auto;
  font-size: 0.5rem;
  text-align: center;
  font-weight: 300;
}

.samll_box .Chinese .chinese_list {
  text-align: left;
  margin-top: 0.5rem;
}

.samll_box .Chinese .chinese_list li {
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}

.samll_box .Chinese .chinese_list li img {
  width: 100%;
}

.samll_box .Chinese .chinese_list li h4 {
  font-size: 0.7rem;
  margin: 0.5rem 0 0.4rem 1rem;
  color: #A51C30;
}

.samll_box .Chinese .chinese_list li .conten_ads {
  padding: 0 20px;
}

.samll_box .Chinese .chinese_list li .conten_ads p {
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.8rem;
  text-align: justify;
}

.samll_box .Chinese .chinese_list li span {
  display: block;
  margin: 10px 20px;
}

.samll_box .Chinese .chinese_list li span a {
  float: left;
  width: 4.5rem;
  height: 1.2rem;
  background: #A51C30;
  border-radius: 0.25rem;
  text-align: center;
  color: white;
  font-size: 0.5rem;
  font-weight: bold;
  line-height: 1.2rem;
}

.samll_box .campe {
  width: 100%;
  height: 11rem;
  text-align: center;
  background-image: url(../img/zb_bk.png);
}

.samll_box .campe h3 {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 1.5rem 0 0.25rem 0;
}

.samll_box .campe img {
  display: block;
  width: 6rem;
  margin: 0 auto;
  padding-bottom: 0.25rem;
}

.samll_box .campe h4 {
  display: block;
  width: 14rem;
  margin: 0 auto;
  font-size: 0.5rem;
  text-align: center;
  font-weight: 300;
}

.samll_box .campe .map {
  width: 100%;
  padding-bottom: 1rem;
}

.samll_box .footer {
  width: 100%;
  height: 4rem;
  background: #A51C30;
}

.samll_box .footer .footer_logo {
  padding-top: 0.7rem;
}

.samll_box .footer .footer_logo img {
  display: block;
  width: 10rem;
  margin: 0 auto;
}

.samll_box .footer_bottom {
  width: 100%;
  height: 1.5rem;
  padding-top: 0.5rem;
}

.samll_box .footer_bottom img {
  width: 9rem;
  display: block;
  margin: 0 auto;
}
