@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-size: .14rem;
    font-weight: 400;
    font-style: normal;
    font-family: "宋体";
    text-size-adjust: 100%;
}

.clear {
    clear: both;
}

ul,
li {
    list-style: none;
}

img,
div,
body,
html,
ul,
li,
a {
    -webkit-touch-callout: none;
}

input,
button {
    outline: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #666;
}

html,
body {
    width: 100%;
    height: auto;
}

.contrduction_smallbox {
    display: none;
}

.contrduction_bigbox {
    width: 100%;
    height: auto;
    .bar_one {
        width: 100%;
        height: 50px;
        background: #f8f8f8;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -3;
    }
    .bar_two {
        width: 100%;
        height: 65px;
        background: #A51C30;
        position: absolute;
        top: 170px;
        left: 0;
        z-index: -5;
    }
    .wapper {
        width: 1200px;
        height: auto;
        margin: auto;
        .header_top {
            background: #f8f8f8;
            width: 100%;
            height: 50px;
            margin: auto;
            .top_center {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 50px;
                margin: auto;
                p {
                    font-size: 16px;
                    line-height: 50px;
                    color: #a51c30;
                }
            }
        }
        header {
            width: 1200px;
            height: 120px;
            margin: auto;
            a:nth-child(1) {
                margin-top: 12px;
                float: left;
                .left {
                    width: 98px;
                    height: auto;
                }
            }
            a:nth-child(2) {
                margin-top: 30px;
                float: right;
                .right {
                    width: 265px;
                    height: auto;
                    margin-top: 30px;
                }
            }
        }
        nav {
            width: 1200px;
            height: 65px;
            background: #A51C30;
            display: flex;
            .list {
                width: 100%;
                height: 65px;
                margin: 0 auto;
                li {
                    width: 240px;
                    display: inline-block;
                    line-height: 65px;
                    float: left;
                    justify-content: center;
                    align-items: center;
                    &:hover p {
                        color: #dab96b;
                    }
                    &:nth-child(2) {
                        p {
                            color: #dab96b;
                        }
                    }
                    img {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                    }
                    a {
                        display: inline-block;
                        p {
                            line-height: 65px;
                            padding: 0 64px;
                            color: white;
                            margin: auto;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    .banner {
        width: 100%;
        height: auto;
    }
    .com_title {
        width: 1200px;
        height: 820px;
        margin: auto;
        z-index: 1;
        text-align: center;
        h3 {
            font-size: 36px;
            font-weight: bold;
            padding: 90px 0 20px 0;
        }
        p {
            font-size: 20px;
        }
        .com_articale {
            box-shadow: 5px 5px 5px #ebebeb;
            margin-top: 30px;
            width: 100%;
            height: 650px;
            background: #f8f8f8;
            .articale_left {
                width: 300px;
                padding: 60px 0px 0 80px;
                img {
                    width: 300px;
                    display: inline-block;
                    float: left;
                }
            }
            .articale_right {
                width: 750px;
                text-align: left;
                float: right;
                padding: 0px 80px 10px 0;
                p {
                    font-weight: 300;
                    text-indent: 2em;
                    font-size: 16px;
                    text-align: left;
                    margin-bottom: 15px;
                    line-height: 30px;
                    text-align: justify;
                }
            }
            .articale_bottom {
                float: left;
                width: 1200px;
                height: 150px;
                padding-left: 80px;
                padding-right: 80px;
                p {
                    display: block;
                    margin: auto;
                    font-weight: 300;
                    text-indent: 2em;
                    font-size: 16px;
                    text-align: left;
                    margin-bottom: 15px;
                    line-height: 30px;
                    text-align: justify;
                }
            }
        }
    }
    .map_title {
        padding-top: 70px;
        width: 1100px;
        height: auto;
        margin: 0 auto;
        h4 {
            margin-top: 70px;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 30px;
        }
        .map_roat {
            width: 1100px;
            margin: 0 auto;
        }
    }
    .jianjie {
        width: 1100px;
        margin: 0 auto;
        h3 {
            font-size: 36px;
            font-weight: 800;
            padding: 100px 0 20px 0;
        }
        p {
            font-weight: 300;
            margin-bottom: 15px;
            line-height: 36px;
            text-align: justify;
            width: 1100px;
            display: block;
            font-size: 18px;
            text-indent: 2em;
        }
    }
    .wenhua {
        width: 1100px;
        margin: 0 auto;
        h3 {
            position: relative;
            font-size: 36px;
            font-weight: 800;
            padding: 90px 0 30px 0;
            p {
                position: absolute;
                top: 106px;
                left: 115px;
                font-size: 20px;
                font-weight: 300;
            }
        }
        .wh {
            width: 1200px;
            height: auto;
            position: relative;
            img {
                width: 260px;
                float: left;
            }
            h4 {
                float: left;
                margin-left: 70px;
                font-size: 22px;
                margin-bottom: 10px;
                font-weight: 300;
            }
            .mean {
                margin-left: 90px;
                float: left;
                font-size: 24px;
                li {
                    width: 750px;
                    margin-bottom: 10px;
                    font-size: 18px;
                    font-weight: 300;
                    position: relative;
                    &::before {
                        content: "";
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: black;
                        position: absolute;
                        top: 7px;
                        left: -20px;
                    }
                }
            }
        }
        p {
            margin-bottom: 10px;
            line-height: 36px;
            text-align: justify;
            width: 1100px;
            display: block;
            font-size: 20px;
            color: #666666;
            text-indent: 2em;
        }
        .wenhua_bottom {
            ul {
                margin-top: 20px;
                margin-left: 20px;
                li {
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 10px;
                    float: left;
                    margin-left: 20px;
                    &:nth-child(1) {
                        margin-left: 0px;
                    }
                    i {
                        font-style: normal;
                        color: #A51C30;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .zhichi {
        width: 1100px;
        margin: 0 auto;
        h3 {
            font-size: 36px;
            font-weight: 800;
            padding: 90px 0 20px 0;
        }
        p {
            margin-bottom: 10px;
            line-height: 36px;
            text-align: justify;
            width: 1100px;
            display: block;
            font-size: 18px;
            font-weight: 300;
            text-indent: 2em;
        }
        .qianming {
            margin-top: -25px;
            width: 300px;
            float: right;
            span {
                font-size: 20px;
                color: #666666;
            }
            img {
                margin-left: 10px;
            }
        }
    }
    .news {
        width: 100%;
        height: 770px;
        background: #f8f8f8;
        margin-top: 90px;
        .news_box {
            width: 1160px;
            background: #f8f8f8;
            margin: 0 auto;
            h3 {
                font-size: 36px;
                font-weight: 800;
                padding: 70px 0 40px 0;
                text-align: center;
            }
            .news_img {
                float: left;
            }
            .news_right {
                width: 710px;
                float: right;
                .lines {
                    img {
                        float: left;
                        display: inline-block;
                    }
                    h5 {
                        a{
                        float: left;
                        font-size: 20px;
                        font-weight: 500;
                        display: inline-block;
                        margin-left: 24px;
                        color: #A51C30; 
                        margin-top: 3px;
                        }
                     
                    }
                    i {                       
                        float: left;
                        font-size: 16px;
                        font-weight: 300;
                        display: inline-block;
                        width: 100px;
                        margin-top: 7px;
                        font-style: normal;
                        margin-left: 8px;
                        
                    }
                }
                p {
                    font-size: 20px;
                    font-weight: 500;
                    display: inline-block;
                    margin-top: 10px;
                    text-indent: 2em;
                    line-height: 32px;
                    text-align: justify;
                }
            }
            .news_bottom {
                position: relative;
                img {
                    margin-top: 20px;
                }
                h4 {
                    font-size: 26px;
                    font-weight: 400;
                    position: absolute;
                    top: 20px;
                    left: 15px;
                }
                p {
                    margin-top: 20px;
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 38px;
                    text-align: justify;
                }
            }
        }
    }
    .colume {
        padding-top: 80px;
        position: relative;
        width: 1160px;
        height: 420px;
        margin: 0 auto;
        .ml {
            position: absolute;
            top: 79px;
            left: 25px;
            font-size: 30px;
            letter-spacing: 5px;
        }
        .show {
            h3 {
                font-size: 20px;
                margin-bottom: 15px;
                margin-top: 15px;
                &:last-child {
                    padding-bottom: 10px;
                }
            }
            p {
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 14px;
            }
            .hide {
                height: 0;
                overflow: hidden;
                transition: all .3s;
            }
        }
        .click_on {
            margin-top: 30px;
            float: right;
            width: 180px;
            height: 50px;
            background: #A51C30;
            border-radius: 5px;
            p {
                text-align: center;
                color: white;
                font-size: 18px;
                font-weight: 500;
                line-height: 50px;
            }
        }
    }
    .tuijian {
        padding-top: 90px;
        position: relative;
        width: 1160px;
        height: 420px;
        margin: 0 auto;
        .tjy {
            position: absolute;
            top: 89px;
            left: 20px;
            font-size: 30px;
            letter-spacing: 2px;
        }
        .show {
            p {
                float: left;
                font-size: 20px;
                margin-bottom: 8px;
                margin-top: 20px;
                text-align: justify;
            }
            span {
                float: right;
                font-size: 20px;
                font-weight: 300;
                margin-bottom: 18px;
                margin-top: 10px;
            }
            .hide {
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                height: 0;
                overflow: hidden;
                transition: all .3s;
            }
        }
        .click_on {
            margin-top: 30px;
            float: right;
            width: 180px;
            height: 50px;
            background: #A51C30;
            border-radius: 5px;
            p {
                text-align: center;
                color: white;
                font-size: 20px;
                font-weight: 500;
                line-height: 50px;
            }
        }
    }
    .hf_road {
        padding-top: 90px;
        width: 1160px;
        margin: 0 auto;
        .road_book {
            span {
                display: inline-block;
                width: 12px;
                height: 12px;
                transform-origin: center center;
                transform: rotate(45deg);
                background: #A51C30;
                float: left;
                margin-top: 22px;
                margin-right: 10px;
            }
            h3 {
                margin-left: 10px;
                font-size: 30px;
                font-weight: 500;
                margin-bottom: 10px;
                margin-top: 8px;
                float: left;
            }
            p {
                font-size: 18px;
                font-weight: 300;
                line-height: 70px;
                float: left;
                margin-left: -10px;
            }
        }
        .road_main {
            img {
                float: left;
            }
            .road_right {
                float: right;
                width: 940px;
                p {
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 8px;
                    text-indent: 2em;
                    line-height: 30px;
                }
            }
            .hide {
                height: 0;
                overflow: hidden;
                transition: all .3s;
                p {
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 14px;
                    text-indent: 2em;
                    line-height: 30px;
                }
            }
            .click_on {
                margin-top: 30px;
                float: right;
                width: 180px;
                height: 50px;
                background: #A51C30;
                border-radius: 5px;
                p {
                    text-align: center;
                    color: white;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 50px;
                }
            }
        }
    }
    .hf_dream {
        padding-top: 90px;
        width: 1160px;
        margin: 0 auto;
        .road_book {
            span {
                display: inline-block;
                width: 12px;
                height: 12px;
                transform-origin: center center;
                transform: rotate(45deg);
                background: #A51C30;
                float: left;
                margin-top: 22px;
                margin-right: 10px;
            }
            h3 {
                margin-left: 10px;
                font-size: 30px;
                font-weight: 500;
                margin-bottom: 10px;
                margin-top: 8px;
                float: left;
            }
            p {
                font-size: 18px;
                font-weight: 300;
                line-height: 70px;
                float: left;
                margin-left: -10px;
            }
        }
        .road_main {
            img {
                margin-top: 6px;
                float: left;
            }
            .road_right {
                float: right;
                width: 940px;
                p {
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 14px;
                    text-indent: 2em;
                    line-height: 30px;
                }
            }
            .hide {
                height: 0;
                overflow: hidden;
                transition: all .3s;
                p {
                    line-height: 30px;
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 8px;
                    text-indent: 2em;
                }
            }
            .click_on {
                margin-top: 30px;
                float: right;
                width: 180px;
                height: 50px;
                background: #A51C30;
                border-radius: 5px;
                p {
                    text-align: center;
                    color: white;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 50px;
                }
            }
        }
    }
    .new_book {
        padding-bottom: 100px;
        padding-top: 90px;
        width: 1160px;
        margin: 0 auto;
        .road_book {
            span {
                display: inline-block;
                width: 12px;
                height: 12px;
                transform-origin: center center;
                transform: rotate(45deg);
                background: #A51C30;
                float: left;
                margin-top: 22px;
                margin-right: 10px;
            }
            h3 {
                margin-left: 10px;
                font-size: 30px;
                font-weight: 500;
                margin-bottom: 8px;
                margin-top: 8px;
                float: left;
            }
            p {
                font-size: 18px;
                font-weight: 300;
                line-height: 70px;
                float: left;
            }
        }
        .road_main {
            p {
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 14px;
                text-indent: 2em;
                line-height: 30px;
            }
        }
    }
     .footer {
        width: 100%;
        height: 200px;
        background: #A51C30;
        .footer_box {
            width: 1200px;
            height: auto;
            margin: 0 auto;
            padding-top: 35px;
            .footer_logo {
                margin-top: 7px;
                float: left;
            }
            .footer_tel {
                margin-top: 35px;
                float: right;
            }
        }
    }
    .footer_bottom {     
        width: 370px;
        height: 40px;
        margin: auto;
         margin-top: 16px;
        p {
            font-size: 24px;
            color: #1d1d1d;
            float: left;
        }
        img {
            margin-top: 5px;
            float: right;
        }
    }
}