@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  font-weight: 400;
  font-style: normal;
  font-family: "宋体";
  text-size-adjust: 100%;
}

.clear {
  clear: both;
}

ul,
li {
  list-style: none;
}

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
}

input,
button {
  outline: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #666;
}

html,
body {
  width: 100%;
  height: auto;
}

.contrduction_bigbox {
  display: none;
}

.contrduction_smallbox {
  width: 100%;
}

.contrduction_smallbox header .logo {
  float: left;
  width: 2.5rem;
  height: auto;
  margin: 0.5rem 0 0.5rem 0.5rem;
}

.contrduction_smallbox header .click {
  width: 1.25rem;
  float: right;
  margin-top: 1.75rem;
  margin-right: 0.5rem;
}

.contrduction_smallbox nav {
  overflow: hidden;
  height: 0;
  width: 100%;
  transition: all .5s;
}

.contrduction_smallbox nav .hide {
  height: 10rem;
  margin: 0.05rem 0.5rem 0 0.5rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.contrduction_smallbox nav ul li {
  width: 100%;
  height: 2rem;
  border-bottom: 0.05rem solid #eee;
}

.contrduction_smallbox nav ul li:last-child {
  border-bottom: none;
}

.contrduction_smallbox nav ul li a {
  height: 2rem;
  display: block;
  border-radius: 0.25rem;
  color: #A51C30;
  line-height: 2rem;
  text-indent: 2em;
  font-size: 0.7rem;
  font-weight: 500;
}

.contrduction_smallbox nav ul li.cur a {
  background: #A51C30;
  color: white;
}

.contrduction_smallbox nav ul li a:hover {
  background: #eee;
}

.contrduction_smallbox .banner {
  width: 100%;
}

.contrduction_smallbox .com_title {
  width: 100%;
  margin: auto;
  z-index: 999;
  text-align: center;
}

.contrduction_smallbox .com_title h3 {
  color: #A51C30;
  font-size: 1rem;
  padding: 1rem 0 0.5rem 0;
}

.contrduction_smallbox .com_title h4 {
  display: block;
  width: 14rem;
  margin: 0 auto;
  font-size: 0.6rem;
  text-align: center;
  font-weight: 300;
  color: #A51C30;
}

.contrduction_smallbox .com_title .com_articale {
  box-shadow: 0.25rem 0.25rem 0.25rem #ebebeb;
  margin-top: 1rem;
  width: 100%;
  background: #f8f8f8;
}

.contrduction_smallbox .com_title .com_articale .articale_left {
  padding: 1rem;
  padding-bottom: 0;
}

.contrduction_smallbox .com_title .com_articale .articale_left img {
  width: 11.5rem;
  display: block;
  margin: auto;
}

.contrduction_smallbox .com_title .com_articale .articale_right {
  padding-top: 1rem;
  width: 14rem;
  margin: 0 auto;
}

.contrduction_smallbox .com_title .com_articale .articale_right p {
  text-indent: 2em;
  font-size: 0.7rem;
  color: #666666;
  font-weight: 300;
  margin-bottom: 0.4rem;
  line-height: 1.2rem;
  text-align: justify;
}

.contrduction_smallbox .map_title {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.contrduction_smallbox .map_title h4 {
  padding: 1rem 0 0.25rem 0;
  font-size: 1rem;
  text-align: center;
  color: #A51C30;
}

.contrduction_smallbox .map_title h1 {
  padding-bottom: 0.75rem;
  font-size: 0.8rem;
  text-align: center;
  color: #A51C30;
}

.contrduction_smallbox .map_title .map_roat {
  padding: 0.5rem 0 0.5rem 0;
  width: 14rem;
  display: block;
  margin: 0 auto;
}

.contrduction_smallbox .jianjie {
  width: 14rem;
  margin: 0 auto;
}

.contrduction_smallbox .jianjie h3 {
  text-align: center;
  color: #A51C30;
  font-size: 1rem;
  padding: 1rem 0 0.5rem 0;
}

.contrduction_smallbox .jianjie p {
  text-indent: 2em;
  font-size: 0.7rem;
  color: #666666;
  font-weight: 300;
  margin-bottom: 0.4rem;
  line-height: 1.2rem;
  text-align: justify;
}

.contrduction_smallbox .wenhua {
  width: 100%;
  margin: 0 auto;
}

.contrduction_smallbox .wenhua h3 {
  text-align: center;
  color: #A51C30;
  font-size: 1rem;
  padding: 1rem 0 0.5rem 0;
}

.contrduction_smallbox .wenhua .logo_mean {
  width: 15rem;
  display: block;
  margin: 0 auto;
  padding-bottom: 0.5rem;
}

.contrduction_smallbox .wenhua .wenhua_bottom {
  width: 14rem;
  display: block;
  margin: 0 auto;
}

.contrduction_smallbox .wenhua .wenhua_bottom li {
  font-size: 14px;
  text-align: justify;
  margin: 5px 0;
  font-weight: 300;
}

.contrduction_smallbox .wenhua p {
  margin-bottom: 0.5rem;
  line-height: 1.8rem;
  text-align: justify;
  display: block;
  font-size: 1rem;
  color: #666666;
  text-indent: 2em;
}

.contrduction_smallbox .wenhua .three_mean {
  display: block;
  width: 13rem;
  margin: 1rem auto;
}

.contrduction_smallbox .zhichi {
  width: 14rem;
  margin: 0 auto;
}

.contrduction_smallbox .zhichi h3 {
  text-align: center;
  color: #A51C30;
  font-size: 1rem;
  padding: 1rem 0 0.5rem 0;
}

.contrduction_smallbox .zhichi p {
  text-indent: 2em;
  font-size: 0.7rem;
  color: #666666;
  font-weight: 300;
  margin-bottom: 0.4rem;
  line-height: 1.2rem;
  text-align: justify;
}

.contrduction_smallbox .zhichi .qianming {
  margin-top: -0.5rem;
  position: relative;
  width: 10rem;
  float: right;
}

.contrduction_smallbox .zhichi .qianming span {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 2rem;
  font-weight: 300;
  font-size: 0.7rem;
  color: #666666;
}

.contrduction_smallbox .zhichi .qianming img {
  position: absolute;
  top: 0;
  left: 7.5rem;
  width: 2rem;
  margin-left: 0.5rem;
}

.contrduction_smallbox .news {
  width: 100%;
  background: #f8f8f8;
  margin-top: 2.5rem;
}

.contrduction_smallbox .news .news_box {
  width: 14rem;
  background: #f8f8f8;
  margin: 0 auto;
}

.contrduction_smallbox .news .news_box h3 {
  text-align: center;
  color: #A51C30;
  font-size: 1rem;
  padding: 1rem 0;
}

.contrduction_smallbox .news .news_box .news_img {
  width: 11rem;
  display: block;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.contrduction_smallbox .news .news_box .news_right .lines {
  position: relative;
}

.contrduction_smallbox .news .news_box .news_right .lines img {
  position: absolute;
  top: 0.35rem;
  left: 0;
  margin-left: 0.25rem;
  width: 0.8rem;
  display: block;
  float: left;
  display: inline-block;
}

.contrduction_smallbox .news .news_box .news_right .lines h5 {
  width: 12.5rem;
  float: right;
  font-family: "PingFang SC";
  font-size: 0.8rem;
  line-height: 1.5rem;
  display: inline-block;
  margin-left: 0.5rem;
  color: #A51C30;
}

.contrduction_smallbox .news .news_box .news_right .lines p {
  position: absolute;
  top: 1.4rem;
  left: 4rem;
  float: left;
  font-size: 0.7rem;
  font-weight: 300;
  display: inline-block;
  margin-top: 0.15rem;
  margin-left: 0.4rem;
}

.contrduction_smallbox .news .news_box .news_right p {
  font-size: 0.7rem;
  font-weight: 300;
  display: inline-block;
  margin-top: 0.5rem;
  text-indent: 2em;
  line-height: 1.3rem;
  text-align: justify;
}

.contrduction_smallbox .news .news_box .news_bottom {
  padding-bottom: 0.75rem;
  position: relative;
}

.contrduction_smallbox .news .news_box .news_bottom img {
  width: 100%;
  margin-top: 1rem;
}

.contrduction_smallbox .news .news_box .news_bottom h4 {
  font-size: 0.9rem;
  position: absolute;
  top: 1.1rem;
  left: 0.5rem;
}

.contrduction_smallbox .news .news_box .news_bottom p {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 1.3rem;
  text-align: justify;
}

.contrduction_smallbox .colume {
  padding-top: 1rem;
  position: relative;
  width: 14rem;
  margin: 0 auto;
}

.contrduction_smallbox .colume img {
  width: 100%;
}

.contrduction_smallbox .colume .ml {
  font-size: 0.9rem;
  position: absolute;
  top: 1.1rem;
  left: 1rem;
  letter-spacing: 0.25rem;
}

.contrduction_smallbox .colume .show h3 {
  font-size: 0.8rem;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

.contrduction_smallbox .colume .show p {
  font-size: 0.7rem;
  font-weight: 300;
  margin-bottom: 0.4rem;
  text-align: justify;
  line-height: 1.3rem;
}

.contrduction_smallbox .colume .show .hide {
  height: 0;
  overflow: hidden;
  transition: all .3s;
}

.contrduction_smallbox .colume .click_on {
  margin-top: 0.25rem;
  float: right;
  width: 5rem;
  height: 1.75rem;
  background: #A51C30;
  border-radius: 0.25rem;
}

.contrduction_smallbox .colume .click_on p {
  text-align: center;
  color: white;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.contrduction_smallbox .tuijian {
  padding-top: 1rem;
  position: relative;
  width: 14rem;
  height: 11rem;
  margin: 0 auto;
}

.contrduction_smallbox .tuijian img {
  width: 100%;
}

.contrduction_smallbox .tuijian .tjy {
  padding-bottom: 1rem;
  font-size: 0.8rem;
  position: absolute;
  top: 1.1rem;
  left: 1rem;
  letter-spacing: 0.25rem;
}

.contrduction_smallbox .tuijian .show p {
  float: left;
  font-size: 0.7rem;
  font-weight: 400;
  margin-bottom: 0.15rem;
  margin-top: 0.5rem;
  text-align: justify;
  line-height: 1.3rem;
}

.contrduction_smallbox .tuijian .show span {
  float: right;
  font-size: 0.6rem;
  font-weight: 300;
  margin-bottom: 0.75rem;
  margin-top: 0.5rem;
  line-height: 1.2rem;
}

.contrduction_smallbox .tuijian .show .hide {
  height: 0;
  overflow: hidden;
  transition: all .3s;
}

.contrduction_smallbox .tuijian .click_on {
  margin-bottom: 1.5rem;
  margin-top: 0.25rem;
  float: right;
  width: 5rem;
  height: 1.75rem;
  background: #A51C30;
  border-radius: 0.25rem;
}

.contrduction_smallbox .tuijian .click_on p {
  text-align: center;
  color: white;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.contrduction_smallbox .hf_road {
  width: 14rem;
  margin: 0 auto;
  position: relative;
}

.contrduction_smallbox .hf_road .road_book span {
  position: absolute;
  top: 0.5rem;
  left: 0;
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  transform-origin: center center;
  transform: rotate(45deg);
  background: #A51C30;
  float: left;
  margin-top: 0.35rem;
}

.contrduction_smallbox .hf_road .road_book h3 {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  display: block;
  width: 13rem;
  font-size: 0.8rem;
  color: #A51C30;
  float: left;
}

.contrduction_smallbox .hf_road .road_book p {
  position: absolute;
  top: 1.65rem;
  left: 1.5rem;
  padding-bottom: 0.75rem;
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 1rem;
  float: left;
  margin-left: 0.75rem;
}

.contrduction_smallbox .hf_road .road_main {
  padding-top: 3.5rem;
}

.contrduction_smallbox .hf_road .road_main img {
  display: block;
  width: 11rem;
  margin: 0 auto;
  padding-bottom: 0.75rem;
}

.contrduction_smallbox .hf_road .road_main .road_right {
  margin: 0 auto;
  width: 14rem;
  display: block;
}

.contrduction_smallbox .hf_road .road_main .road_right p {
  font-size: 0.7rem;
  font-weight: 300;
  margin-bottom: 0.4rem;
  text-indent: 2em;
  line-height: 1.3rem;
}

.contrduction_smallbox .hf_road .road_main .hide {
  height: 0;
  overflow: hidden;
  transition: all .3s;
}

.contrduction_smallbox .hf_road .road_main .hide p {
  font-size: 0.7rem;
  font-weight: 300;
  margin-bottom: 0.4rem;
  text-indent: 2em;
  line-height: 1.3rem;
  text-align: justify;
}

.contrduction_smallbox .hf_road .road_main .click_on {
  margin-bottom: 1.5rem;
  margin-top: 0.25rem;
  float: right;
  width: 5rem;
  height: 1.75rem;
  background: #A51C30;
  border-radius: 0.25rem;
}

.contrduction_smallbox .hf_road .road_main .click_on p {
  text-align: center;
  color: white;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.contrduction_smallbox .hf_dream {
  padding-top: 1rem;
  width: 14rem;
  margin: 0 auto;
  position: relative;
}

.contrduction_smallbox .hf_dream .road_book span {
  position: absolute;
  top: 0.5rem;
  left: 0;
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  transform-origin: center center;
  transform: rotate(45deg);
  background: #A51C30;
  float: left;
  margin-top: 0.35rem;
}

.contrduction_smallbox .hf_dream .road_book h3 {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  display: block;
  width: 13rem;
  font-size: 0.8rem;
  color: #A51C30;
  float: left;
}

.contrduction_smallbox .hf_dream .road_book p {
  position: absolute;
  top: 1.7rem;
  left: 2.25rem;
  padding-bottom: 0.75rem;
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 1rem;
  float: left;
  margin-left: 0.75rem;
}

.contrduction_smallbox .hf_dream .road_main {
  padding-top: 2.5rem;
}

.contrduction_smallbox .hf_dream .road_main img {
  display: block;
  width: 11rem;
  margin: 0 auto;
  padding-bottom: 0.75rem;
}

.contrduction_smallbox .hf_dream .road_main .road_right {
  margin: 0 auto;
  width: 14rem;
  display: block;
}

.contrduction_smallbox .hf_dream .road_main .road_right p {
  font-size: 0.7rem;
  font-weight: 300;
  margin-bottom: 0.4rem;
  text-indent: 2em;
  line-height: 1.3rem;
  text-align: justify;
}

.contrduction_smallbox .hf_dream .road_main .hide {
  height: 0;
  overflow: hidden;
  transition: all .3s;
}

.contrduction_smallbox .hf_dream .road_main .hide p {
  font-size: 0.7rem;
  font-weight: 300;
  margin-bottom: 0.4rem;
  text-indent: 2em;
  line-height: 1.3rem;
  text-align: justify;
}

.contrduction_smallbox .hf_dream .road_main .click_on {
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  float: right;
  width: 5rem;
  height: 1.75rem;
  background: #A51C30;
  border-radius: 0.25rem;
}

.contrduction_smallbox .hf_dream .road_main .click_on p {
  text-align: center;
  color: white;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.contrduction_smallbox .new_book {
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 14rem;
  margin: 0 auto;
  position: relative;
}

.contrduction_smallbox .new_book .road_book span {
  position: absolute;
  top: 0.5rem;
  left: 0;
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  transform-origin: center center;
  transform: rotate(45deg);
  background: #A51C30;
  float: left;
  margin-top: 0.35rem;
}

.contrduction_smallbox .new_book .road_book h3 {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  display: block;
  width: 13rem;
  font-size: 0.8rem;
  color: #A51C30;
  float: left;
}

.contrduction_smallbox .new_book .road_book p {
  position: absolute;
  top: 1.7rem;
  left: 2.25rem;
  padding-bottom: 0.75rem;
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 1rem;
  float: left;
  margin-left: 0.75rem;
}

.contrduction_smallbox .new_book .road_main {
  padding-top: 2.5rem;
}

.contrduction_smallbox .new_book .road_main p {
  font-size: 0.7rem;
  font-weight: 300;
  margin-bottom: 0.4rem;
  text-indent: 2em;
  line-height: 1.3rem;
}

.contrduction_smallbox .new_book .hide {
  height: 0;
  overflow: hidden;
  transition: all .3s;
}

.contrduction_smallbox .new_book .hide p {
  font-size: 0.7rem;
  font-weight: 300;
  margin-bottom: 0.4rem;
  text-indent: 2em;
  line-height: 1.3rem;
}

.contrduction_smallbox .new_book .click_on {
  margin-bottom: 1.5rem;
  margin-top: 0.25rem;
  float: right;
  width: 5rem;
  height: 1.75rem;
  background: #A51C30;
  border-radius: 0.25rem;
}

.contrduction_smallbox .new_book .click_on p {
  text-align: center;
  color: white;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.contrduction_smallbox .footer {
  margin-top: 2.5rem;
  width: 100%;
  height: 6.5rem;
  background: #A51C30;
}

.contrduction_smallbox .footer .footer_logo {
  padding-top: 1rem;
}

.contrduction_smallbox .footer .footer_logo img {
  display: block;
  width: 15rem;
  margin: 0 auto;
}

.contrduction_smallbox .footer_bottom {
  width: 100%;
  height: 2.5rem;
  padding-top: 1rem;
}

.contrduction_smallbox .footer_bottom img {
  width: 11.5rem;
  display: block;
  margin: 0 auto;
}
