@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  font-weight: 400;
  font-style: normal;
  font-family: "宋体";
  text-size-adjust: 100%;
}

.clear {
  clear: both;
}

ul,
li {
  list-style: none;
}

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
}

input,
button {
  outline: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #666;
}

html,
body {
  width: 100%;
  height: auto;
}

.contrduction_smallbox {
  display: none;
}

.contrduction_bigbox {
  width: 100%;
  height: auto;
}

.contrduction_bigbox .bar_one {
  width: 100%;
  height: 50px;
  background: #f8f8f8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
}

.contrduction_bigbox .bar_two {
  width: 100%;
  height: 65px;
  background: #A51C30;
  position: absolute;
  top: 170px;
  left: 0;
  z-index: -5;
}

.contrduction_bigbox .wapper {
  width: 1200px;
  height: auto;
  margin: auto;
}

.contrduction_bigbox .wapper .header_top {
  background: #f8f8f8;
  width: 100%;
  height: 50px;
  margin: auto;
}

.contrduction_bigbox .wapper .header_top .top_center {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  margin: auto;
}

.contrduction_bigbox .wapper .header_top .top_center p {
  font-size: 16px;
  line-height: 50px;
  color: #a51c30;
}

.contrduction_bigbox .wapper header {
  width: 1200px;
  height: 120px;
  margin: auto;
}

.contrduction_bigbox .wapper header a:nth-child(1) {
  margin-top: 12px;
  float: left;
}

.contrduction_bigbox .wapper header a:nth-child(1) .left {
  width: 98px;
  height: auto;
}

.contrduction_bigbox .wapper header a:nth-child(2) {
  margin-top: 30px;
  float: right;
}

.contrduction_bigbox .wapper header a:nth-child(2) .right {
  width: 265px;
  height: auto;
  margin-top: 30px;
}

.contrduction_bigbox .wapper nav {
  width: 1200px;
  height: 65px;
  background: #A51C30;
  display: flex;
}

.contrduction_bigbox .wapper nav .list {
  width: 100%;
  height: 65px;
  margin: 0 auto;
}

.contrduction_bigbox .wapper nav .list li {
  width: 240px;
  display: inline-block;
  line-height: 65px;
  float: left;
  justify-content: center;
  align-items: center;
}

.contrduction_bigbox .wapper nav .list li:hover p {
  color: #dab96b;
}

.contrduction_bigbox .wapper nav .list li:nth-child(2) p {
  color: #dab96b;
}

.contrduction_bigbox .wapper nav .list li img {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.contrduction_bigbox .wapper nav .list li a {
  display: inline-block;
}

.contrduction_bigbox .wapper nav .list li a p {
  line-height: 65px;
  padding: 0 64px;
  color: white;
  margin: auto;
  font-size: 20px;
}

.contrduction_bigbox .banner {
  width: 100%;
  height: auto;
}

.contrduction_bigbox .com_title {
  width: 1200px;
  height: 820px;
  margin: auto;
  z-index: 1;
  text-align: center;
}

.contrduction_bigbox .com_title h3 {
  font-size: 36px;
  font-weight: bold;
  padding: 90px 0 20px 0;
}

.contrduction_bigbox .com_title p {
  font-size: 20px;
}

.contrduction_bigbox .com_title .com_articale {
  box-shadow: 5px 5px 5px #ebebeb;
  margin-top: 30px;
  width: 100%;
  height: 650px;
  background: #f8f8f8;
}

.contrduction_bigbox .com_title .com_articale .articale_left {
  width: 300px;
  padding: 60px 0px 0 80px;
}

.contrduction_bigbox .com_title .com_articale .articale_left img {
  width: 300px;
  display: inline-block;
  float: left;
}

.contrduction_bigbox .com_title .com_articale .articale_right {
  width: 750px;
  text-align: left;
  float: right;
  padding: 0px 80px 10px 0;
}

.contrduction_bigbox .com_title .com_articale .articale_right p {
  font-weight: 300;
  text-indent: 2em;
  font-size: 16px;
  text-align: left;
  margin-bottom: 15px;
  line-height: 30px;
  text-align: justify;
}

.contrduction_bigbox .com_title .com_articale .articale_bottom {
  float: left;
  width: 1200px;
  height: 150px;
  padding-left: 80px;
  padding-right: 80px;
}

.contrduction_bigbox .com_title .com_articale .articale_bottom p {
  display: block;
  margin: auto;
  font-weight: 300;
  text-indent: 2em;
  font-size: 16px;
  text-align: left;
  margin-bottom: 15px;
  line-height: 30px;
  text-align: justify;
}

.contrduction_bigbox .map_title {
  padding-top: 70px;
  width: 1100px;
  height: auto;
  margin: 0 auto;
}

.contrduction_bigbox .map_title h4 {
  margin-top: 70px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.contrduction_bigbox .map_title .map_roat {
  width: 1100px;
  margin: 0 auto;
}

.contrduction_bigbox .jianjie {
  width: 1100px;
  margin: 0 auto;
}

.contrduction_bigbox .jianjie h3 {
  font-size: 36px;
  font-weight: 800;
  padding: 100px 0 20px 0;
}

.contrduction_bigbox .jianjie p {
  font-weight: 300;
  margin-bottom: 15px;
  line-height: 36px;
  text-align: justify;
  width: 1100px;
  display: block;
  font-size: 18px;
  text-indent: 2em;
}

.contrduction_bigbox .wenhua {
  width: 1100px;
  margin: 0 auto;
}

.contrduction_bigbox .wenhua h3 {
  position: relative;
  font-size: 36px;
  font-weight: 800;
  padding: 90px 0 30px 0;
}

.contrduction_bigbox .wenhua h3 p {
  position: absolute;
  top: 106px;
  left: 115px;
  font-size: 20px;
  font-weight: 300;
}

.contrduction_bigbox .wenhua .wh {
  width: 1200px;
  height: auto;
  position: relative;
}

.contrduction_bigbox .wenhua .wh img {
  width: 260px;
  float: left;
}

.contrduction_bigbox .wenhua .wh h4 {
  float: left;
  margin-left: 70px;
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 300;
}

.contrduction_bigbox .wenhua .wh .mean {
  margin-left: 90px;
  float: left;
  font-size: 24px;
}

.contrduction_bigbox .wenhua .wh .mean li {
  width: 750px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  position: relative;
}

.contrduction_bigbox .wenhua .wh .mean li::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  position: absolute;
  top: 7px;
  left: -20px;
}

.contrduction_bigbox .wenhua p {
  margin-bottom: 10px;
  line-height: 36px;
  text-align: justify;
  width: 1100px;
  display: block;
  font-size: 20px;
  color: #666666;
  text-indent: 2em;
}

.contrduction_bigbox .wenhua .wenhua_bottom ul {
  margin-top: 20px;
  margin-left: 20px;
}

.contrduction_bigbox .wenhua .wenhua_bottom ul li {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
  float: left;
  margin-left: 20px;
}

.contrduction_bigbox .wenhua .wenhua_bottom ul li:nth-child(1) {
  margin-left: 0px;
}

.contrduction_bigbox .wenhua .wenhua_bottom ul li i {
  font-style: normal;
  color: #A51C30;
  font-size: 18px;
}

.contrduction_bigbox .zhichi {
  width: 1100px;
  margin: 0 auto;
}

.contrduction_bigbox .zhichi h3 {
  font-size: 36px;
  font-weight: 800;
  padding: 90px 0 20px 0;
}

.contrduction_bigbox .zhichi p {
  margin-bottom: 10px;
  line-height: 36px;
  text-align: justify;
  width: 1100px;
  display: block;
  font-size: 18px;
  font-weight: 300;
  text-indent: 2em;
}

.contrduction_bigbox .zhichi .qianming {
  margin-top: -25px;
  width: 300px;
  float: right;
}

.contrduction_bigbox .zhichi .qianming span {
  font-size: 20px;
  color: #666666;
}

.contrduction_bigbox .zhichi .qianming img {
  margin-left: 10px;
}

.contrduction_bigbox .news {
  width: 100%;
  height: 770px;
  background: #f8f8f8;
  margin-top: 90px;
}

.contrduction_bigbox .news .news_box {
  width: 1160px;
  background: #f8f8f8;
  margin: 0 auto;
}

.contrduction_bigbox .news .news_box h3 {
  font-size: 36px;
  font-weight: 800;
  padding: 70px 0 40px 0;
  text-align: center;
}

.contrduction_bigbox .news .news_box .news_img {
  float: left;
}

.contrduction_bigbox .news .news_box .news_right {
  width: 710px;
  float: right;
}

.contrduction_bigbox .news .news_box .news_right .lines img {
  float: left;
  display: inline-block;
}

.contrduction_bigbox .news .news_box .news_right .lines h5 a {
  float: left;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  margin-left: 24px;
  color: #A51C30;
  margin-top: 3px;
}

.contrduction_bigbox .news .news_box .news_right .lines i {
  float: left;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  width: 100px;
  margin-top: 7px;
  font-style: normal;
  margin-left: 8px;
}

.contrduction_bigbox .news .news_box .news_right p {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  margin-top: 10px;
  text-indent: 2em;
  line-height: 32px;
  text-align: justify;
}

.contrduction_bigbox .news .news_box .news_bottom {
  position: relative;
}

.contrduction_bigbox .news .news_box .news_bottom img {
  margin-top: 20px;
}

.contrduction_bigbox .news .news_box .news_bottom h4 {
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  top: 20px;
  left: 15px;
}

.contrduction_bigbox .news .news_box .news_bottom p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 38px;
  text-align: justify;
}

.contrduction_bigbox .colume {
  padding-top: 80px;
  position: relative;
  width: 1160px;
  height: 420px;
  margin: 0 auto;
}

.contrduction_bigbox .colume .ml {
  position: absolute;
  top: 79px;
  left: 25px;
  font-size: 30px;
  letter-spacing: 5px;
}

.contrduction_bigbox .colume .show h3 {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.contrduction_bigbox .colume .show h3:last-child {
  padding-bottom: 10px;
}

.contrduction_bigbox .colume .show p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 14px;
}

.contrduction_bigbox .colume .show .hide {
  height: 0;
  overflow: hidden;
  transition: all .3s;
}

.contrduction_bigbox .colume .click_on {
  margin-top: 30px;
  float: right;
  width: 180px;
  height: 50px;
  background: #A51C30;
  border-radius: 5px;
}

.contrduction_bigbox .colume .click_on p {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
}

.contrduction_bigbox .tuijian {
  padding-top: 90px;
  position: relative;
  width: 1160px;
  height: 420px;
  margin: 0 auto;
}

.contrduction_bigbox .tuijian .tjy {
  position: absolute;
  top: 89px;
  left: 20px;
  font-size: 30px;
  letter-spacing: 2px;
}

.contrduction_bigbox .tuijian .show p {
  float: left;
  font-size: 20px;
  margin-bottom: 8px;
  margin-top: 20px;
  text-align: justify;
}

.contrduction_bigbox .tuijian .show span {
  float: right;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 18px;
  margin-top: 10px;
}

.contrduction_bigbox .tuijian .show .hide {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 0;
  overflow: hidden;
  transition: all .3s;
}

.contrduction_bigbox .tuijian .click_on {
  margin-top: 30px;
  float: right;
  width: 180px;
  height: 50px;
  background: #A51C30;
  border-radius: 5px;
}

.contrduction_bigbox .tuijian .click_on p {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
}

.contrduction_bigbox .hf_road {
  padding-top: 90px;
  width: 1160px;
  margin: 0 auto;
}

.contrduction_bigbox .hf_road .road_book span {
  display: inline-block;
  width: 12px;
  height: 12px;
  transform-origin: center center;
  transform: rotate(45deg);
  background: #A51C30;
  float: left;
  margin-top: 22px;
  margin-right: 10px;
}

.contrduction_bigbox .hf_road .road_book h3 {
  margin-left: 10px;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 8px;
  float: left;
}

.contrduction_bigbox .hf_road .road_book p {
  font-size: 18px;
  font-weight: 300;
  line-height: 70px;
  float: left;
  margin-left: -10px;
}

.contrduction_bigbox .hf_road .road_main img {
  float: left;
}

.contrduction_bigbox .hf_road .road_main .road_right {
  float: right;
  width: 940px;
}

.contrduction_bigbox .hf_road .road_main .road_right p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 8px;
  text-indent: 2em;
  line-height: 30px;
}

.contrduction_bigbox .hf_road .road_main .hide {
  height: 0;
  overflow: hidden;
  transition: all .3s;
}

.contrduction_bigbox .hf_road .road_main .hide p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 14px;
  text-indent: 2em;
  line-height: 30px;
}

.contrduction_bigbox .hf_road .road_main .click_on {
  margin-top: 30px;
  float: right;
  width: 180px;
  height: 50px;
  background: #A51C30;
  border-radius: 5px;
}

.contrduction_bigbox .hf_road .road_main .click_on p {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
}

.contrduction_bigbox .hf_dream {
  padding-top: 90px;
  width: 1160px;
  margin: 0 auto;
}

.contrduction_bigbox .hf_dream .road_book span {
  display: inline-block;
  width: 12px;
  height: 12px;
  transform-origin: center center;
  transform: rotate(45deg);
  background: #A51C30;
  float: left;
  margin-top: 22px;
  margin-right: 10px;
}

.contrduction_bigbox .hf_dream .road_book h3 {
  margin-left: 10px;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 8px;
  float: left;
}

.contrduction_bigbox .hf_dream .road_book p {
  font-size: 18px;
  font-weight: 300;
  line-height: 70px;
  float: left;
  margin-left: -10px;
}

.contrduction_bigbox .hf_dream .road_main img {
  margin-top: 6px;
  float: left;
}

.contrduction_bigbox .hf_dream .road_main .road_right {
  float: right;
  width: 940px;
}

.contrduction_bigbox .hf_dream .road_main .road_right p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 14px;
  text-indent: 2em;
  line-height: 30px;
}

.contrduction_bigbox .hf_dream .road_main .hide {
  height: 0;
  overflow: hidden;
  transition: all .3s;
}

.contrduction_bigbox .hf_dream .road_main .hide p {
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 8px;
  text-indent: 2em;
}

.contrduction_bigbox .hf_dream .road_main .click_on {
  margin-top: 30px;
  float: right;
  width: 180px;
  height: 50px;
  background: #A51C30;
  border-radius: 5px;
}

.contrduction_bigbox .hf_dream .road_main .click_on p {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
}

.contrduction_bigbox .new_book {
  padding-bottom: 100px;
  padding-top: 90px;
  width: 1160px;
  margin: 0 auto;
}

.contrduction_bigbox .new_book .road_book span {
  display: inline-block;
  width: 12px;
  height: 12px;
  transform-origin: center center;
  transform: rotate(45deg);
  background: #A51C30;
  float: left;
  margin-top: 22px;
  margin-right: 10px;
}

.contrduction_bigbox .new_book .road_book h3 {
  margin-left: 10px;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 8px;
  float: left;
}

.contrduction_bigbox .new_book .road_book p {
  font-size: 18px;
  font-weight: 300;
  line-height: 70px;
  float: left;
}

.contrduction_bigbox .new_book .road_main p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 14px;
  text-indent: 2em;
  line-height: 30px;
}

.contrduction_bigbox .footer {
  width: 100%;
  height: 200px;
  background: #A51C30;
}

.contrduction_bigbox .footer .footer_box {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  padding-top: 35px;
}

.contrduction_bigbox .footer .footer_box .footer_logo {
  margin-top: 7px;
  float: left;
}

.contrduction_bigbox .footer .footer_box .footer_tel {
  margin-top: 35px;
  float: right;
}

.contrduction_bigbox .footer_bottom {
  width: 370px;
  height: 40px;
  margin: auto;
  margin-top: 16px;
}

.contrduction_bigbox .footer_bottom p {
  font-size: 24px;
  color: #1d1d1d;
  float: left;
}

.contrduction_bigbox .footer_bottom img {
  margin-top: 5px;
  float: right;
}
