@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  font-weight: 400;
  font-style: normal;
  font-family: "宋体";
  text-size-adjust: 100%;
}

.clear {
  clear: both;
}

ul,
li {
  list-style: none;
}

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
}

input,
button {
  outline: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #666;
}

html,
body {
  width: 100%;
  height: auto;
}

.map_bigbox {
  display: none;
}

.map_smallbox {
  width: 16rem;
  margin: auto;
}

.map_smallbox header .logo {
  float: left;
  width: 6rem;
  height: auto;
  margin: 1rem 0 0 0.75rem;
}

.map_smallbox header .click {
  width: 0.9rem;
  float: right;
  margin-top: 1.85rem;
  margin-right: 0.75rem;
}

.map_smallbox nav {
  overflow: hidden;
  margin-top: 0.5rem;
  height: 0;
  width: 100%;
  transition: all .5s;
}

.map_smallbox nav .hide {
  height: 7.75rem;
  margin: 0 0.35rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.map_smallbox nav .hide li {
  width: 100%;
  height: 1.5rem;
  border-bottom: 0.05rem solid #eee;
}

.map_smallbox nav .hide li:last-child {
  border-bottom: none;
}

.map_smallbox nav .hide li a {
  height: 1.5rem;
  display: block;
  border-radius: 0.25rem;
  color: #A51C30;
  line-height: 1.5rem;
  text-indent: 2em;
  font-size: 0.5rem;
  font-weight: 500;
}

.map_smallbox .hide li.cur a {
  background: #A51C30;
  color: white;
}

.map_smallbox .banner {
  width: 100%;
}

.map_smallbox .map {
  width: 14rem;
  margin: 0 auto;
}

.map_smallbox .map img {
  padding-top: 1.5rem;
  display: block;
  width: 7.5rem;
  margin: 0 auto;
}

.map_smallbox .map p {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}

.map_smallbox .map .hello_box {
  width: 11rem;
  height: 1.5rem;
  margin: 0 auto;
}

.map_smallbox .map .hello_box span {
  float: left;
  margin: 0 auto;
  display: block;
  width: 4.5rem;
  height: 1.5rem;
  background: #A51C30;
  color: white;
  font-size: 0.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
}

.map_smallbox .map .hello_box span:nth-child(2) {
  float: right;
}

.map_smallbox .map .hello_box p {
  float: left;
  font-size: 0.4rem;
  display: inline-block;
  line-height: 1.5rem;
  margin: 0 0.75rem;
}

.map_smallbox .email {
  text-align: center;
  font-size: 0.6rem;
  margin-top: 1rem;
}

.map_smallbox .email_two {
  text-align: center;
  font-size: 0.7rem;
  color: #A51C30;
}

.map_smallbox .xiaoqu img {
  width: 14rem;
  display: block;
  margin: 1rem auto 1.5rem auto;
}

.map_smallbox .map_bottom {
  width: 100%;
  height: auto;
}

.map_smallbox .footer {
  width: 100%;
  height: 4rem;
  background: #A51C30;
}

.map_smallbox .footer .footer_logo {
  padding-top: 0.7rem;
}

.map_smallbox .footer .footer_logo img {
  display: block;
  width: 10rem;
  margin: 0 auto;
}

.map_smallbox .footer_bottom {
  width: 100%;
  height: 1.5rem;
  padding-top: 0.5rem;
}

.map_smallbox .footer_bottom img {
  width: 9rem;
  display: block;
  margin: 0 auto;
}
