@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-size: .14rem;
    font-weight: 400;
    font-style: normal;
    font-family: "宋体";
    text-size-adjust: 100%;
}

.clear {
    clear: both;
}

ul,
li {
    list-style: none;
}

img,
div,
body,
html,
ul,
li,
a {
    -webkit-touch-callout: none;
}

input,
button {
    outline: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #666;
}

$sc:20;
html,
body {
    width: 100%;
    height: auto;
}

.map_bigbox {
    display: none;
}

.map_smallbox {
    width: 320/$sc+rem;
    margin: auto;
    header .logo {
        float: left;
        width: 120/$sc+rem;
        height: auto;
        margin: 20/$sc+rem 0 0 15/$sc+rem;
    }
    header .click {
        width: 18/$sc+rem;
        float: right;
        margin-top: 37/$sc+rem;
        margin-right: 15/$sc+rem;
    }
    nav {
        overflow: hidden;
        margin-top: 10px;
        height: 0;
        width: 100%;
        transition: all .5s;
        .hide {
            height: 155/$sc+rem;
            margin: 0 7/$sc+rem;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            li {
                width: 100%;
                height: 30/$sc+rem;
                border-bottom: 1/$sc+rem solid #eee;
                &:last-child {
                    border-bottom: none;
                }
                a {
                    height: 30/$sc+rem;
                    display: block;
                    border-radius: 5/$sc+rem;
                    color: #A51C30;
                    line-height: 30/$sc+rem;
                    text-indent: 2em;
                    font-size: 10/$sc+rem;
                    font-weight: 500;
                }
            }
        }
    }
    .hide li.cur a {
        background: #A51C30;
        color: white;
    }
    .banner {
        width: 100%;
    }
    .map {
        width: 280/$sc+rem;
        margin: 0 auto;
        img {
            padding-top: 30/$sc+rem;
            display: block;
            width: 150/$sc+rem;
            margin: 0 auto;
        }
        p {
            font-size: 14/$sc+rem;
            text-align: center;
            font-weight: 500;
            line-height: 40/$sc+rem;
            margin-bottom: 10/$sc+rem;
        }
        .hello_box {
            width: 220/$sc+rem;
            height: 30/$sc+rem;
            margin: 0 auto;
            span {
                float: left;
                margin: 0 auto;
                display: block;
                width: 90/$sc+rem;
                height: 30/$sc+rem;
                background: #A51C30;
                color: white;
                font-size: 10/$sc+rem;
                text-align: center;
                line-height: 30/$sc+rem;
                border-radius: 5/$sc+rem;
                font-weight: bold;
                &:nth-child(2) {
                    float: right;
                }
            }
            p {
                float: left;
                font-size: 8/$sc+rem;
                display: inline-block;
                line-height: 30/$sc+rem;
                margin: 0 15/$sc+rem;
            }
        }
    }
    .email {
        text-align: center;
        font-size: 12/$sc+rem;
        margin-top: 20/$sc+rem;
    }
    .email_two {
        text-align: center;
        font-size: 14/$sc+rem;
        color: #A51C30;
    }
    .xiaoqu {
        img {
            width: 280/$sc+rem;
            display: block;
            margin: 20/$sc+rem auto 30/$sc+rem auto;
        }
    }
    .map_bottom {
        width: 100%;
        height: auto;
    }
    .footer {
        width: 100%;
        height: 80/$sc+rem;
        background: #A51C30;
        .footer_logo {
            padding-top: 14/$sc+rem;
            img {
                display: block;
                width: 200/$sc+rem;
                margin: 0 auto;
            }
        }
    }
    .footer_bottom {
        width: 100%;
        height: 30/$sc+rem;
        padding-top: 10/$sc+rem;
        img {
            width: 180/$sc+rem;
            display: block;
            margin: 0 auto;
        }
    }
}