@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  font-weight: 400;
  font-style: normal;
  font-family: "宋体";
  text-size-adjust: 100%;
}

.clear {
  clear: both;
}

ul,
li {
  list-style: none;
}

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
}

input,
button {
  outline: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #666;
}

html,
body {
  width: 100%;
  height: auto;
}

.team_bigbox {
  display: none;
}

.team_smallbox {
  width: 16rem;
  margin: auto;
}

.team_smallbox header .logo {
  float: left;
  width: 6rem;
  height: auto;
  margin: 1rem 0 0 0.75rem;
}

.team_smallbox header .click {
  width: 0.9rem;
  float: right;
  margin-top: 1.85rem;
  margin-right: 0.75rem;
}

.team_smallbox nav {
  overflow: hidden;
  margin-top: 0.5rem;
  height: 0;
  width: 100%;
  transition: all .5s;
}

.team_smallbox nav .hide {
  height: 7.75rem;
  margin: 0 0.35rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.team_smallbox nav .hide li {
  width: 100%;
  height: 1.5rem;
  border-bottom: 0.05rem solid #eee;
}

.team_smallbox nav .hide li:last-child {
  border-bottom: none;
}

.team_smallbox nav .hide li a {
  height: 1.5rem;
  display: block;
  border-radius: 0.25rem;
  color: #A51C30;
  line-height: 1.5rem;
  text-indent: 2em;
  font-size: 0.5rem;
  font-weight: 500;
}

.team_smallbox .hide li.cur a {
  background: #A51C30;
  color: white;
}

.team_smallbox .banner {
  width: 100%;
}

.team_smallbox .team_work {
  width: 14rem;
  margin: auto;
}

.team_smallbox .team_work h3 {
  text-align: center;
  font-size: 0.9rem;
  padding-top: 1.5rem;
}

.team_smallbox .team_work p {
  padding-top: 0.5rem;
  display: block;
  width: 14rem;
  margin: 0 auto;
  font-size: 0.5rem;
  line-height: 1rem;
  font-weight: 300;
}

.team_smallbox .team_leader {
  width: 14rem;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.team_smallbox .team_leader .leader_one img {
  display: block;
  width: 11rem;
  margin: 0 auto;
  padding: 0.5rem 0 0.75rem 0;
}

.team_smallbox .team_leader .leader_one .one_section {
  display: block;
  width: 14rem;
}

.team_smallbox .team_leader .leader_one .one_section h1 {
  text-indent: 2em;
  float: left;
  font-size: 0.7rem;
  color: #A51C30;
  ppadding-top: 0.25remx;
}

.team_smallbox .team_leader .leader_one .one_section i {
  float: left;
  font-size: 0.5rem;
  font-weight: 400;
  color: #A51C30;
  padding: 0.25rem 0 0 0.6rem;
}

.team_smallbox .team_leader .leader_one .one_section p {
  padding-top: 0.5rem;
  text-align: justify;
  font-size: 0.5rem;
  font-weight: 300;
  line-height: 1rem;
  text-indent: 2em;
}

.team_smallbox .team_leader .leader_two img {
  display: block;
  width: 11rem;
  margin: 0 auto;
  padding: 2rem 0 0.75rem 0;
}

.team_smallbox .team_leader .leader_two .two_section {
  display: block;
  width: 14rem;
}

.team_smallbox .team_leader .leader_two .two_section h1 {
  text-indent: 2em;
  float: left;
  font-size: 0.7rem;
  color: #A51C30;
  ppadding-top: 0.25remx;
}

.team_smallbox .team_leader .leader_two .two_section i {
  float: left;
  font-size: 0.5rem;
  font-weight: 400;
  color: #A51C30;
  padding: 0.25rem 0 0 0.6rem;
}

.team_smallbox .team_leader .leader_two .two_section p {
  padding-top: 0.5rem;
  text-align: justify;
  font-size: 0.5rem;
  font-weight: 300;
  line-height: 1rem;
  text-indent: 2em;
}

.team_smallbox .footer {
  margin-top: 1rem;
  width: 100%;
  height: 4rem;
  background: #A51C30;
}

.team_smallbox .footer .footer_logo {
  padding-top: 0.7rem;
}

.team_smallbox .footer .footer_logo img {
  display: block;
  width: 10rem;
  margin: 0 auto;
}

.team_smallbox .footer_bottom {
  width: 100%;
  height: 1.5rem;
  padding-top: 0.5rem;
}

.team_smallbox .footer_bottom img {
  width: 9rem;
  display: block;
  margin: 0 auto;
}
